.listevisning--infopanel {
    display: flex;
    align-items: center;
}

.listevisning--infopanel__lukkKnapp {
    height: 2rem;
    width: 3rem;
}

.skjemaelement__input:disabled {
    + label {
        cursor: default;
        &::before {
            background-color: @grayIcon;
            border-color: @grayIcon;
        }
    }
}


