.veilarbportefoljeflatefs-laster-modal {
    overflow: hidden !important;
    width: auto !important;

    .modal {
        outline: none;
        height: 4.2rem;

        svg {
            align-self: auto;
            margin: 0 auto;
        }
    }
}
