.veilarbportefoljeflatefs-laster-modal {
    overflow: hidden !important;

    .modal {
        outline: none;
        width: 4.2rem;
        height: 4.2rem;

        svg {
            align-self: auto;
            margin: 0 auto;
        }
    }
}
