@modig-frontend-root-url: "./node_modules/modig-frontend/modig-frontend-ressurser/src/main/resources";
@imgDir: "./../img";

@import "@{modig-frontend-root-url}/less/decorator/modus";
@import "@{modig-frontend-root-url}/less/includes/variables";
@import "@{modig-frontend-root-url}/less/includes/mixins";
@import "@{modig-frontend-root-url}/less/nav_extra/typografi";
@import "@{modig-frontend-root-url}/less/nav_extra/spinner";
@import "@{modig-frontend-root-url}/less/nav_extra/tabeller";

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #efefef;

    #mainapp {
        margin: 0 auto;
        height: 100%;
    }
    .side-innhold {
        margin-top: 2rem;
    }
}
html {
    height:100%;
}


.veilarbportefoljeflatefs {
    @import "@{modig-frontend-root-url}/less/nav_extra/paneler";
    @import "@{modig-frontend-root-url}/less/decorator/grid";
    @import "@{modig-frontend-root-url}/less/nav_extra/lenker";
    @import "@{modig-frontend-root-url}/less/nav_extra/utilities";
    @import "@{modig-frontend-root-url}/less/nav_extra/skjema";
    @import "./lenker/lenker";
    @import "./utils/paginering";
}

