@coreModulePath: './../../../node_modules';
@nodeModulesPath: './../../../node_modules';
@import "tabell";

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: @navLysGra !important;

    #mainapp {
        margin: 0 auto;
        height: 100%;
    }
    .side-innhold {
        margin-top: 2rem;
    }
}

html {
    height: 100%;
}

@import "./node_modules/nav-frontend-typografi-style/src/index";
@import "./node_modules/nav-frontend-core/less/core";
@import "./node_modules/nav-frontend-modal-style/src/index";
@import "./node_modules/nav-frontend-ekspanderbartpanel-style/src/index";
@import "./node_modules/nav-frontend-etiketter-style/src/index";
@import "./node_modules/nav-frontend-skjema-style/src/index";
@import "./node_modules/nav-frontend-chevron-style/src/index";
@import "./node_modules/nav-frontend-knapper-style/src/index";
@import "./node_modules/nav-frontend-paneler-style/src/mixins";
@import "./forslag_nav_frontend"; // TODO Vi bør se det som ligger her, og evt. få det inn i NF.

.veilarbportefoljeflatefs {
    @import "./lenker/lenker";
    @import "./paginering/paginering";
    @import "./enhetsportefolje/enhetsportefolje";
    @import "./veiledere/veiledere";
    @import "./minoversikt/minoversikt";
    @import "./enhet/filtrering/filtrering-label";
    @import "./components/tabelletiketter/tabelletiketter";
    @import "./components/dropdown/dropdown";
    @import "./components/checkbox-filterform/checkbox-filterform";
    @import "./components/radio-filterform/radio-filterform";
}



// TODO dont do this
.custom-ekspanderbartpanel {
    .ekspanderbartPanel__hode {
        padding: 0.5rem;
    }
    margin-bottom: 4px;
}

.modal__overlay {
    z-index: 1000; // TODO: Be KAB commite tinga sine
}

@media (min-width: 1200px) {
    .container {
        width: 956px;
    }
}
