@coreModulePath: './../../../node_modules';
@nodeModulesPath: './../../../node_modules';
@import "tabell";

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: @navLysGra !important;

    #mainapp {
        margin: 0 auto;
        height: 100%;
    }
    .side-innhold {
        margin-top: 2rem;
    }
}
html {
    height:100%;
}

@import "./node_modules/nav-frontend-typografi-style/src/index";
@import "./node_modules/nav-frontend-core/less/core";
@import "./node_modules/nav-frontend-ekspanderbartpanel-style/src/index";
@import "./node_modules/nav-frontend-etiketter-style/src/index";
@import "./node_modules/nav-frontend-skjema-style/src/index";
@import "./node_modules/nav-frontend-chevron-style/src/index";
@import "./node_modules/nav-frontend-knapper-style/src/index";

.veilarbportefoljeflatefs {
    @import "./lenker/lenker";
    @import "./paginering/paginering";
    @import "./enhetsportefolje/enhetsportefolje";
    @import "./veiledere/veiledere";
    @import "minoversikt/minoversikt";
}

@import "./components/dropdown/dropdown";
@import "./components/checkbox-filterform/checkbox-filterform";

.custom-ekspanderbartpanel {
    .ekspanderbartPanel__hode {
        padding: 0.5rem;
    }
    margin-bottom: 4px;
}
