@import '~nav-frontend-core/less/core';

@main-width: 2.9rem;
@main-higth: 1.6rem;
.toggle-switch {
    position: relative;
    display: inline-block;
    width: @main-width;
    height: @main-higth;
}

.toggle-switch .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: @main-higth;
}

.switch-slider:before {
    position: absolute;
    content: '';
    height: @main-higth * 0.76;
    width: @main-higth * 0.76;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-input:checked + .switch-slider {
    background-color: @navBla;
}

.toggle-input:focus + .switch-slider {
    border: 1px solid @fokusFarge;
    box-shadow: 0 0 5px black;
}

.toggle-input:checked + .switch-slider:before {
    -webkit-transform: translateX(1.223rem);
    -ms-transform: translateX(1.223rem);
    transform: translateX(1.223rem);
}

.toggle-input:checked ~ .toggle-switch-lås-åpen {
    visibility: visible;
    animation-name: quick-fade;
    animation-duration: 0.4s;
}

.toggle-input:not(:checked) ~ .toggle-switch-lås-lukked {
    visibility: visible;
    animation-name: quick-fade;
    animation-duration: 0.4s;
}

.toggle-switch-lås {
    cursor: pointer;
}

.toggle-switch-lås-åpen {
    position: absolute;
    top: 0.2rem;
    left: @main-width * 0.07;
    bottom: @main-higth * 0.12;
    visibility: hidden;
}

.toggle-switch-lås-lukked {
    position: absolute;
    top: 0.2rem;
    left: @main-width * 0.53;
    bottom: @main-higth * 0.12;
    visibility: hidden;
}

@keyframes quick-fade {
    0% {
        visibility: hidden;
    }

    85% {
        visibility: visible;
    }
}
