.filtrering-demografi {
    margin-bottom: 0;
    padding-top: 1rem;
}

.filtrering-select {
    margin: 0.5rem 0;
}

.filtrering-oversikt {
    margin-bottom: 0;
    padding-top: 1rem;
}

.filtrering-container-element {
    margin-bottom: -13px;
}
