.portefoljetabell {
    margin: 0.5rem;

    &__rowcell {
        padding: 0.5rem 0rem;
        border-bottom: 1px solid @navGra40;
    }

    &__header {
        border-bottom: 1px solid @navGra40;
        border-top: 1px solid @navGra40;
        font-weight: 700;
        padding: 0.5rem 0;
    }

    &__kolonne {
        border-bottom: 2px solid @navGra40;
        padding: 0.5rem 0;
    }

    .etikettkolonne {
        text-align: right;
    }

    .arbeidslistekolonne {
        padding: 0.5rem;
    }
}
