.mine-filter-meny-modal {
    width: 30rem;
    padding: 1rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0.5rem 0;
        text-align: center;

        .ny-knapp {
            margin-right: 0;
            margin-bottom: 2rem;
        }

        .tekst {
            font-size: 17px;
        }

        .eksisterende-knapp {
            margin-top: 1rem;
        }
    }

    .fnr-feil {
        margin: 1rem 0;
    }

    .typo-normal {
        word-break: break-word;
    }
}

.lagret-filter-knapp-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
}

.feil-tiltak_modal {
    width: 30rem;
    padding: 1rem;

    .knappegruppe {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 0;
        text-align: center;

        button {
            width: 10rem;
        }
    }
}

.varsel-modal__innhold {
    text-align: center;

    .error-knapp {
        margin-top: 1rem;
    }

    .typo-normal {
        word-break: break-word;
    }
}
