.mine-filter-meny-modal__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.5rem 0;
    text-align: center;
}
.mine-filter-meny-modal__wrapper .ny-knapp {
    margin-right: 0;
    margin-bottom: 2rem;
}
.mine-filter-meny-modal__wrapper .eksisterende-knapp {
    margin-top: 1rem;
}
.mine-filter-meny-modal .fnr-feil {
    margin: 1rem 0;
}
.lagret-filter-knapp-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
}
.feil-tiltak_modal .knappegruppe {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
    text-align: center;
}
.feil-tiltak_modal .knappegruppe button {
    width: 10rem;
}
