.barlabel {
    display: flex;
    justify-content: space-between;

    &__labeltext {
        width: 100%;
    }

    &__barwrapper {
        flex-basis: 70%;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__antall {
        flex-basis: 3rem;
        text-align: right;
        padding-right: 1rem;
    }

    &__bar {
        position: relative;
        flex: 0;
        flex-basis: 55%;
        height: 1.125rem;
    }

    &__bartrack {
        display: block;
        background-color: #f2f1f1;
        height: 1.125rem;
        border-radius: 1rem;
        width: 100%;
    }

    &__barface {
        position: absolute;
        display: block;
        background-color: @navLysBlaLighten60;
        height: 1.125rem;
        border-radius: 1rem;
        transition: width cubic-bezier(0.4, 0, 0.2, 1) 1337ms;
        left: 0;
        top: 0;
    }
    &.inaktiveBrukere .barlabel__barface {
        background-color: @navLysBlaDarken60;
    }
    &.venterPaSvarFraNAV .barlabel__barface {
        background-color: @navLillaLighten20;
    }
    &.venterPaSvarFraBruker .barlabel__barface {
        background-color: @navLillaLighten40;
    }
    &.utlopteAktiviteter .barlabel__barface {
        background-color: @navGronnLighten20;
    }
    &.ikkeIAvtaltAktivitet .barlabel__barface {
        background-color: @navGronnLighten40;
    }
    &.iAvtaltAktivitet .barlabel__barface {
        background-color: @navGronnLighten60;
    }
    &.minArbeidsliste .barlabel__barface {
        background-color: @navLimeGronnLighten40;
    }
}
