.filtrering-label-container {
    display: flex;
}

.filtrering-label {
    margin: 20px 0 32px 0;
}

.filtrering-label-slett {
    margin: 20px 8px 32px 3px;
    cursor: pointer;
    background-color: rgb(183, 177, 169);
    border: none;
    padding: 5px;
}
