.lenker {
    a {
        margin-right: 2rem;
    }
    a {
        border-bottom: none;
        text-decoration: none;
        &:visited, &:active {
            color: @navMorkGra;
        }
        &:hover {
            color: @blue-interaction;
        }
    }
    a.valgt {
        border-bottom: 0.15rem solid @navMorkGra;
        color: @navMorkGra;
        padding-bottom: 0.7rem;
        background-color: inherit;
        text-decoration: none;
        cursor: default;
        &:visited, &:active {
            color: @navMorkGra;
        }
    }
}
