# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      workflow-updates:
        patterns:
          - "*"

  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
    groups:
      aksel-dependencies:
        patterns:
          - "@navikt/aksel*"
          - "@navikt/ds*"
      react-dependencies:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
