.veilarbportefoljeflatefs .filtrering-label-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.veilarbportefoljeflatefs .veilederoversikt_sok-veileder {
    font-size: 20px;
}

.veilarbportefoljeflatefs .filtreringlabel__container {
    display: flex;
    align-items: center;
}
