.veilarbportefoljeflatefs .filtreringlabel-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold__hidden .filtreringlabel-container {
    grid-column-start: 1;
}

.veilarbportefoljeflatefs .filtreringlabel__med-ikon {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.veilarbportefoljeflatefs .filtreringlabel__med-ikon .fargekategoriikon [stroke] {
    stroke: var(--ax-bg-neutral-moderate);
}

.veilarbportefoljeflatefs .filtreringlabel__med-ikon .fargekategoriikon [fill]:not([stroke]) {
    fill: var(--ax-bg-default);
    fill-opacity: 1;
}
