.veilarbportefoljeflatefs .checkbox-liste__valg {
    max-height: 15.5rem;
    overflow-x: auto;
    padding: 0.5rem;
    position: relative;
    border-bottom: 1px solid #a0a0a0;
}
.veilarbportefoljeflatefs .checkbox-liste__valg-knapp {
    margin-top: 1rem;
}
.veilarbportefoljeflatefs .veilederoversikt-nullstill-knapp {
    padding: 0.5rem 0 0;
}
.veilarbportefoljeflatefs .checkbox-filterform__alertstripe {
    margin-top: 1rem;
}
