.portefolje-tabell {
    border-collapse: collapse;
    font-weight: normal;


    thead tr:first-child th {
        border-top: 1px solid @grayIcon;
        font-weight: normal;
    }

    thead.extra-head tr:first-child th {
        border-top: 1px solid @grayIcon;
        font-weight: bold;
    }

    tbody tr:first-child td, tbody tr:first-child th {
        border-top-width: 1px;
    }

    th {
        overflow: hidden;
        white-space: nowrap;
    }

    td, th {
        vertical-align: middle;
        height: 38px;
        padding: 0 8px;

        .skjema__input {
            margin-bottom: 0;

            label {
                padding-left: 1rem;

                &:before {

                    width: 18px;
                    height: 18px;
                    top: 2px;
                }
            }
        }
    }

    tbody th {
        font-weight: normal;
    }

    .sortering-link {
        .lenke-mixin();

        &.valgt {
            font-weight: bold;
        }
    }
}

.portefolje__container {
    min-height: 30rem;
}

.velgfiltermelding {
    text-align: center;

    &__ikon {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        background-color: @navOransjeLighten20;

        &:after {
            content: "";
            position: absolute;
            width: 70%;
            height: 0.5rem;
            display: block;
            margin-left: 15%;
            background-color: @white;
            top: calc(1.25rem - 0.25rem);
            border-radius: 2px;
        }
    }
}
