.sikkerhetstiltak-td span {
    display: inline-block;
    background-color: #feb56d;
    background-size: 8px, 120px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
}

.portefolje-tabell {
    border-collapse: collapse;
    font-weight: normal;


    thead tr:first-child th {
        border-top: 1px solid @grayIcon;
        font-weight: normal;
    }

    thead.extra-head tr:first-child th {
        border-top: 1px solid @grayIcon;
        font-weight: bold;
    }

    tbody tr:first-child td, tbody tr:first-child th {
        border-top-width: 1px;
    }

    th {
        overflow: hidden;
        white-space: nowrap;
    }

    td, th {
        vertical-align: middle;
        height: 38px;
        padding: 0 8px;

        .skjema__input {
            margin-bottom: 0;

            label {
                padding-left: 1rem;

                &:before {

                    width: 18px;
                    height: 18px;
                    top: 2px;
                }
            }
        }
    }

    tbody th {
        font-weight: normal;
    }

    .sikkerhetstiltak-td {
        text-align: center;
    }

    .sortering-link {
        .lenke-mixin();

        &.valgt {
            font-weight: bold;
        }
    }

    a.til-bruker-link {
        border-bottom: none;
    }

}
