.portefolje-tabell {
    border-collapse: collapse;
    font-weight: normal;


    thead tr:first-child th {
        border-top: 2px solid @grayIcon;
        font-weight: normal;
    }

    thead.extra-head tr:first-child th {
        border-top: 1px solid @grayIcon;
        font-weight: bold;
    }

    tbody tr:first-child td, tbody tr:first-child th {
        border-top-width: 1px;
    }

    th {
        overflow: hidden;
        white-space: nowrap;
    }

    td, th {
        vertical-align: middle;
        height: 38px;
        padding: 0 8px;

        .skjema__input {
            margin-bottom: 0;

            label {
                padding-left: 1rem;

                &:before {

                    width: 18px;
                    height: 18px;
                    top: 2px;
                }
            }
        }
    }

    tbody th {
        font-weight: normal;
    }

    .sortering-link {
        .lenke-mixin();

        &.valgt {
            font-weight: bold;
        }
    }

    a.til-bruker-link {
        border-bottom: none;
    }
}
