.idea
*.iml
*.ipr
*.iws

**/node_modules/

*.log

target

**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/build/**/*
**/webapp/js/**/*
**/webapp/*.html
**/npm-debug.log
**/temp/**/*
web/src/frontend/out/

npm-debug.log

.classpath
.project
.settings
.DS_Store