.idea/*
tekster-built/
.build/**/*
!.idea/runConfigurations
*.iml
*.ipr
*.iws
.hintrc

**/node_modules/

*.log

target

build/

**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/build/**/*
**/webapp/js/**/*
**/webapp/*.html
**/npm-debug.log
**/temp/**/*

npm-debug.log

.classpath
.project
.settings
.DS_Store
.nyc_output/

/cypress/videos
/cypress/screenshots
