@import "~nav-frontend-core/less/core";
@dropSpaceSize: 0.7rem;

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag-and-drop-container {
  list-style-type: none;
}

.drag-and-drop-row {
  cursor: move;
}

.drag-and-drop-row.drag-elem {
  border: 1px dashed @navMorkGra;
  margin-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-top: 0.5rem;
}

.drag-and-drop-row.over-from-below {
  padding-top: @dropSpaceSize;
  border-top: 2px solid @navBla;
}

.drag-and-drop-row.over-from-above {
  margin-bottom: @dropSpaceSize;
  border-bottom: 2px solid @navBla;
}