@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
  .lagrede-filter-wrapper {
    &__tekst {
      font-style: italic;
      margin: 0.5rem 0;
    }

    .lagredefilter-emptystate {
      text-align: left;
      margin-left: 1rem;
    }

    .lagrede-filter {
      &__valgfelt {
        max-height: fit-content;
        overflow-y: hidden;
        border-top-width: 0;
        border-bottom-width: 0;

        &__lang {
          padding-top: .5rem;
          padding-left: .5rem;
          max-height: 15rem;
          overflow-y: scroll;
          border-top: 1px solid @navGra40;
          border-bottom: 1px solid @navGra40;
        }

        .skjemaelement__label {
          word-break: break-word;
        }
      }

      &__rad {
        display: flex;
        justify-content: space-between;
        min-height: 2.5rem;
      }

      &__filternavn {
        width: 85%;
      }
    }

    .hjelpetekst__wrapper {
      display: grid;
      grid-template-columns: auto fit-content(100%);

      .hjelpetekst {
        display: flex;
        margin-left: auto;
        margin-bottom: .5rem;
      }

      .popover {
        max-width: 30rem;
      }
    }
  }

  .mine-filter_alertstripe {
    margin-bottom: .5rem;
  }
}


@media (max-width: 1200px) {
  .veilarbportefoljeflatefs .lagrede-filter-wrapper .hjelpetekst__wrapper .popover__pil {
    left: 451px !important;
  }
}
