@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
  .ny {
    &__lagrede-filter-wrapper {
      &__tekst {
        font-style: italic;
        margin: 0.5rem 0;
      }

      &__lagredefilter-emptystate {
        text-align: left;
        margin-left: 1rem;
      }
    }

    &__lagrede-filter {
      &__valgfelt {
        padding: .5rem .5rem 0;
        max-height: fit-content;
        overflow-y: hidden;
        border-top-width: 0;
        border-bottom-width: 0;

        .lang {
          background-color: red;
        }

        .skjemaelement__label {
          word-break: break-word;
        }

      }

      &__rad {
        display: flex;
        justify-content: space-between;
        min-height: 2.5rem;

      }

      &__filternavn {
        width: 85%;
      }
    }
  }
}
