.veilarbportefoljeflatefs .topp-meny {
    position: relative;
    display: flex;
    align-items: baseline; /* Plasserer barne-element slik at teksten deira er på éi linje */
    column-gap: 1rem;
}

.veilarbportefoljeflatefs .topp-meny::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--a-bg-default);
    box-shadow: 0 2px 4px 0 rgba(183, 177, 169, 0.5);

    /* strekker bakgrunnen helt ut til kantene */
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; /* legger bakgrunnen bak innholdet */
}

.veilarbportefoljeflatefs .topp-meny .oversikt-overskrifter {
    display: flex;
    gap: 1rem;
    margin-right: auto; /* Dyttar møteendringsboksen (og endringsloggen) lengst ut til høgre i toppmenyen */
    height: 100%;
}

.veilarbportefoljeflatefs .topp-meny .oversiktslenke {
    border-bottom: 0.3rem solid transparent;
    text-decoration: none;
    color: var(--a-text-default);
    padding-top: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.9rem;
    font-weight: var(--a-font-weight-regular);
    opacity: 0.8;
}

.veilarbportefoljeflatefs .topp-meny .oversiktslenke:visited,
.veilarbportefoljeflatefs .topp-meny .oversiktslenke:active,
.veilarbportefoljeflatefs .topp-meny .oversiktslenke--valgt:visited,
.veilarbportefoljeflatefs .topp-meny .oversiktslenke--valgt:active,
.veilarbportefoljeflatefs .topp-meny .oversiktslenke--valgt:hover {
    color: var(--a-text-default);
}

.veilarbportefoljeflatefs .topp-meny .oversiktslenke:hover {
    border-bottom: 0.3rem solid var(--a-border-action-hover);
    cursor: pointer;
    opacity: 1;
}

.veilarbportefoljeflatefs .topp-meny .oversiktslenke:focus {
    box-shadow: 0 0 0 3px var(--a-border-focus); /* --a-blue-800 */
    border-radius: 2px;
    outline: none;
}

.veilarbportefoljeflatefs .topp-meny .oversiktslenke--valgt {
    border-bottom: 0.3rem solid var(--a-border-action-selected); /* Same som Tabs-komponenten får når den er valgt. */
    background-color: inherit;
    text-decoration: none;
    font-weight: var(--a-font-weight-bold);
    opacity: 1;
    pointer-events: none;
    cursor: pointer;
}

.veilarbportefoljeflatefs .topp-meny .endringslogg {
    align-self: center;
}
