@import "~nav-frontend-core/less/core";
@import "~nav-frontend-chevron-style/src/index";

.veilarbportefoljeflatefs {
    @brukerliste-padding: 5px;

    .brukerliste {
        list-style: none;
        margin: 0;
        padding: 0;

        li:nth-child(odd) {
            background-color: #F4F4F4;
        }
        li {
            border-left: 1px solid @navGra60;
            border-right: 1px solid @navGra60;
            border-bottom: 1px solid @navGra40;
            &:first-child {
                margin-top: 0.5rem;
                border-top: 1px solid @navGra60;
            }
            &:last-child {
                border-bottom: none;
            }

        }
    }

    .enhet-tabell {
        background-color: white;
        border-top-color: white;
        border-bottom: none;
        border-radius: 0 0 @border-radius-base @border-radius-base;
        margin-bottom: 0;
    }

    .brukerliste__element {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
    }

    .brukerliste__checkbox {
        top: -10px;
    }

    .brukerliste .checkboks + .skjemaelement__label:before {
        margin-top: 2px;
        width: 20px;
        height: 20px;
    }

    .checkboks + .skjemaelement__label:before, .radioknapp + .skjemaelement__label:before {
        width: 20px;
        height: 20px;
    }

    .brukerliste--borders {
        border-top: 1px solid @navGra40;
        border-bottom: 1px solid @navGra40;
    }

    .brukerliste--border-bottom {
        border-bottom: 2px solid @navGra40;
    }

    .brukerliste--forrigeBruker {
        box-shadow: inset -1px 0 0 2px @navGra60, inset 1px 0 0 2px @navGra40;
    }

    .brukerliste__header {
        z-index: 500;
        background-color: white;
    }

    .brukerliste__overskriftheader {
        display: flex;
        font-weight: bold;
        font-size: 1rem;
        min-height: 2rem;
        padding: @brukerliste-padding 0;
    }

    .brukerliste__sorteringheader {
        display: flex;
        min-height: 2rem;
        padding: 0.5rem 0;
    }

    .brukerliste__gutter-left {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .brukerliste--min-width-minside {
        min-width: 3rem;
    }

    .brukerliste__innhold {
        width: 70%;
    }

    .brukerliste__gutter-right {
        display: flex;
        flex-grow: 1;
        align-items: center;
        width: 4rem;
        margin-right: 8px;
    }

    .brukerliste__etiketter {
        width: 100%;
    }

    .brukerliste__arbeidslisteknapp {
        cursor: pointer;
        padding: 0;
        margin-left: 1rem;
        background-color: transparent;
        min-width: 2rem;
        color: @navMorkGra;
        border: none;
    }

    .brukerliste__arbeidslistepanel {
        padding: 8px;
    }

    .brukerliste__arbeidslisteinnhold {
        padding-right: 3rem;
    }

    .brukerliste__arbeidslisteinnhold-footer {
        color: @grayInactive;
        text-align: right;
        font-style: italic;

        button {
            font-style: italic;
            border: none;
        }
    }

    .brukerliste__arbeidslisteknapp--chevron-apen {
        .chevron-mixin();
        .chevron-orientasjon-mixin(opp);
    }

    .brukerliste__arbeidslisteknapp--chevron-lukket {
        .chevron-mixin();
        .chevron-orientasjon-mixin(ned);
    }

    .valgt-sortering {
        font-weight: bold;
    }
}
