.veilarbportefoljeflatefs .nullstill__wrapper {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #c9c9c9;
}
.veilarbportefoljeflatefs .nullstill__knapp {
    margin-top: 0.5rem;
}
