@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .nullstill {
        &__wrapper {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid @navGra20;
        }
        &__knapp {
            margin: 0.5rem 0.5rem 0.5rem 0;
        }
    }
}
