.veilarbportefoljeflatefs .typo-normal {
    width: 100%;
}
.veilarbportefoljeflatefs .listevisning--infopanel {
    display: flex;
    width: 100%;
    position: relative;
}
.veilarbportefoljeflatefs .listevisning--infopanel__lukkKnapp {
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: -0.25rem;
    top: -0.25rem;
}
.veilarbportefoljeflatefs .skjemaelement__input:disabled + label {
    cursor: default;
}
.veilarbportefoljeflatefs .skjemaelement__input:disabled + label::before {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}
