@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
    .tabelletikett {
        text-align: center;
        padding: 0.125rem 0.5rem;
        margin: 0.125rem;
        width: auto;

        &--nybruker, &--ikke_vurdert, &--behov_aev, &--ufordeltbruker, &--revurdering {
            background-color: @navLysBlaLighten60;
        }

        &--ufordeltbruker {
            margin: 0px;
        }

        &--egen-ansatt, &--diskresjonskode {
            background-color: @navOransjeLighten60;
        }

        &--sikkerhetstiltak {
            background-color: @redErrorLighten60;
        }

        &--doed {
            background-color: @navGra80;
            color: @white;
        }

        &--er_sykmeldt_med_arbeidsgiver {
            background-color: @navLysBlaLighten60;
        }

        &--permittert_uten_14a_vedtak {
            background-color: @navLillaLighten60;
        }
    }
}
