@navGra60: #78706A;
@navGra40: #B7B1A9;

.veiledere-side {
    margin: 0 3rem;
}

.veiledere-undertittel {
    background-color: #F4F4F4;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1000;

    .blokk-xxs {
        margin-bottom: 0;
    }
}

#veilederside-toolbar {
    position: sticky;
    top: 1.5rem;
}
