.veiledere-side {
    margin-bottom: 100px;
}

.veiledersok__wrapper {
    margin-top: 1rem;
    width: 25%;
    margin-right:75%;
    .veiledere__soketabell {
        a {
            border-bottom: none;
            color: @blue-interaction;
            text-decoration: none;
        }
    }
}

.tildelveileder_wrapper {
    min-height: 3rem;
}
.veileder__hide {
    display:none;
}

.tabell thead tr:first-child th, .tabell thead tr:first-child td {
    font-size: 16px;
}

.veileder-tabell {
    background-color: #F4F4F4;
    border: 1px solid @navGra60;
    border-radius: @border-radius-base;
    border-collapse: collapse;

    tbody {
        tr:nth-child(even){
            background-color: white;
        }

        th,td {
            border-bottom: 1px solid @navGra60;
            border-top: none;
            font-weight: normal;

            &:first-child {
                width: 30%;
                white-space: pre-wrap;
            }
            &:nth-child(2) {
                width: 20%;
                white-space: pre-wrap;
            }
            &:nth-child(3) {
                width: 7rem;
                white-space: pre-wrap;
            }
        }
    }

    .tabell__subhead {
        background-color: white;
        border-bottom: 2px solid @navGra60;
    }
}

.sok-veileder {
    border: 1px solid @navGra60;
    border-radius: @border-radius-base;
}
