@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .sidebar__content-container .mine-filter__valgfelt {
        padding: 0.5rem;
    }

    .mine-filter-wrapper {
        &__tekst {
            font-style: italic;
            margin: 0.5rem 0;
        }
    }

    .mine-filter-emptystate {
        text-align: left;

        &__tekst {
            font-style: italic;
            margin: 0.5rem 0;
        }
    }

    .mine-filter {
        &__valgfelt {
            .skjemaelement__label {
                word-break: break-word;
            }
        }

        &__rad {
            display: flex;
            justify-content: space-between;
            min-height: 2rem;
        }

        &__filternavn {
            width: 85%;
        }
    }

    .mine-filter_alertstripe {
        display: flex;
        justify-content: space-between;

        .alertstripe_lukknapp {
            height: 24px;
            width: 24px;
            border: none;
        }

        .alertstripe__tekst {
            display: flex;
            justify-content: space-between;
        }
    }
}
