@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
  .mine-filter-wrapper {
    &__tekst {
      font-style: italic;
      margin: 0.5rem 0;
    }

    .mine-filter-emptystate {
      text-align: left;
      margin-left: 1rem;
    }

    .mine-filter {
      &__valgfelt {
        padding: .5rem;
        max-height: 17rem;
        overflow-y: auto;

        .skjemaelement__label {
          word-break: break-word;
        }
      }

      &__rad {
        display: flex;
        justify-content: space-between;
        min-height: 2rem;
      }

      &__filternavn {
        width: 85%;
      }
    }

    .mine-filter_alertstripe {
      margin-bottom: .5rem;
    }
  }

  .gammelt__hjelpetekst {
    display: flex;
    margin-left: auto;
    margin-bottom: .5rem;
  }
}
