@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
  .sidebar__content-container .ny__mine-filter__valgfelt {
    padding: .5rem;
  }

  .ny {
    &__mine-filter-wrapper {
      &__tekst {
        font-style: italic;
        margin: 0.5rem 0;
      }

      &__mine-filter-emptystate {
        text-align: left;
        margin-left: 1rem;
      }
    }

    &__mine-filter {
      &__valgfelt {
        .skjemaelement__label {
          word-break: break-word;
        }
      }

      &__rad {
        display: flex;
        justify-content: space-between;
        min-height: 2rem;
      }

      &__filternavn {
        width: 85%;
      }
    }
  }
}
