.ekspanderbartPanel {
    margin-bottom: 3px;
}

.ekspanderbartPanel__innhold {
    margin-top: 1px;
    margin-bottom: 0px;
}

.TildelVeilederVelger {
    padding: 10px;
}

.filtrering-oversikt {
    border: none;
}
