.annen-veileder {
    padding: 1rem;
    background-color: @navLysBlaLighten60;
    h1 {
        font-size: 1rem;
        text-align: center;
    }
}

.tilbaketilveileder {
    display: inline-block;
    margin-bottom: 1rem;
}

.portefolje-side {
    padding: 2rem;
    background-color: @navLysGra;
}

