@import "~nav-frontend-core/less/core";

.checkbox-filterform {
    &__valg {
        max-height: 15.5rem;
        overflow-x: auto;
        padding: .5rem;
        margin-bottom: .5rem;
    }

    .registreringstype {
        max-height: none;
    }

    &__valg-knapp {
        margin-top: 1rem;
    }

    &__under-valg {
        padding-left: .5rem;
        padding-bottom: .5rem;
    }

    &__alertstripe {
        padding: .5rem 0 1rem .5rem;
        border: none;
    }
}

.field__container {
    position: relative;

    :last-child {
        margin-bottom: 0;
    }
}

.fodselsdato__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5px;
}

.fodselsdato__container {
    text-align: center;
    margin: .2rem;

    label {
        position: relative;
        cursor: pointer;
        padding: .1rem;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    label:hover {
        color: @navBla;
        border: 1px solid @navBla;
    }

    label::before, label::after {
        position: absolute;
    }

    label::before {
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        padding: .2rem;

    }

    label::after {
        content: "";
        padding: .2rem;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    input[type="checkbox"] {
        opacity: 0;
        appearance: none;
    }

    input[type="checkbox"] + label::after {
        content: none;
    }

    input[type="checkbox"]:checked + label {
        background-color: @navBlaDarken20;
        color: white;
    }

    input[type="checkbox"]:checked + label::after {
        content: "";
    }

    input[type="checkbox"]:focus + label::before {
        border-radius: 4px;
        box-shadow: 0 0 0 3px @fokusFarge;
        outline: none;
    }
}
