.checkbox-filterform {
  &__valg {
    max-height: 15.5rem;
    margin-bottom: 0.5rem;
    overflow-x: auto;
    padding: 0.5rem;
  }

  &__valg-knapp {
    margin-top: 1rem;
  }

  &__under-valg {
    padding-left: 0.5rem;
  }

  &__alertstripe {
    padding: 0.5rem 0 1rem 0.5rem;
    border: none;
  }
}

.field__container {
  position: relative;

  :last-child {
    margin-bottom: 0;
  }
}

#id_alder, #id_kjonn {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr;
  display: grid;
  grid-template-columns: auto auto;
}

#id_19-og-under {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  grid-row: 1;
}

#id_20-24 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  grid-column: 1;
  grid-row: 2;
}

#id_25-29 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  grid-column: 1;
  grid-row: 3;
}

#id_30-39 {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
  grid-column: 1;
  grid-row: 4;
}

#id_40-49 {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-column: 2;
  grid-row: 1;
}

#id_50-59 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-column: 2;
  grid-row: 2;
}

#id_60-66 {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  grid-column: 2;
  grid-row: 3;
}

#id_67-70 {
  -ms-grid-column: 2;
  -ms-grid-row: 4;
  grid-column: 2;
  grid-row: 4;
}

#id_K {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  grid-row: 1;
}

#id_M {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-column: 2;
  grid-row: 1;
}



#id_tiltakstyper {
  display: -ms-grid;
  display: grid;
}

#id_OPPLT2AAR {
  -ms-grid-row: 1;
  grid-row: 1;
}

#id_ABIST {
  -ms-grid-row: 2;
  grid-row: 2;
}

#id_LONNTILAAP {
  -ms-grid-row: 3;
  grid-row: 3;
}

#id_ARBFORB {
  -ms-grid-row: 4;
  grid-row: 4;
}

#id_AMO {
  -ms-grid-row: 5;
  grid-row: 5;
}

#id_AMOE {
  -ms-grid-row: 6;
  grid-row: 6;
}

#id_AMOY {
  -ms-grid-row: 7;
  grid-row: 7;
}

#id_PRAKSORD {
  -ms-grid-row: 8;
  grid-row: 8;
}

#id_PRAKSKJERM {
  -ms-grid-row: 9;
  grid-row: 9;
}

#id_ARBRRHDAG {
  -ms-grid-row: 10;
  grid-row: 10;
}

#id_ARBRRDOGN {
  -ms-grid-row: 11;
  grid-row: 11;
}

#id_ARBTREN {
  -ms-grid-row: 12;
  grid-row: 12;
}

#id_AVKLARAG {
  -ms-grid-row: 13;
  grid-row: 13;
}

#id_ENKELAMO {
  -ms-grid-row: 14;
  grid-row: 14;
}

#id_ENKFAGYRKE {
  -ms-grid-row: 15;
  grid-row: 15;
}

#id_TILRTILSK {
  -ms-grid-row: 16;
  grid-row: 16;
}

#id_FUNKSJASS {
  -ms-grid-row: 17;
  grid-row: 17;
}

#id_GRUPPEAMO {
  -ms-grid-row: 18;
  grid-row: 18;
}

#id_HOYEREUTD {
  -ms-grid-row: 19;
  grid-row: 19;
}

#id_INDJOBSTOT {
  -ms-grid-row: 20;
  grid-row: 20;
}

#id_INKLUTILS {
  -ms-grid-row: 21;
  grid-row: 21;
}

#id_JOBBKLUBB {
  -ms-grid-row: 22;
  grid-row: 22;
}

#id_JOBBK {
  -ms-grid-row: 23;
  grid-row: 23;
}

#id_MENTOR {
  -ms-grid-row: 24;
  grid-row: 24;
}

#id_MIDLONTIL {
  -ms-grid-row: 25;
  grid-row: 25;
}

#id_INDOPPFAG {
  -ms-grid-row: 26;
  grid-row: 26;
}

#id_LONNTIL {
  -ms-grid-row: 27;
  grid-row: 27;
}

#id_TILPERBED {
  -ms-grid-row: 28;
  grid-row: 28;
}

#id_UTDYRK {
  -ms-grid-row: 29;
  grid-row: 29;
}

#id_UTVAOONAV {
  -ms-grid-row: 30;
  grid-row: 30;
}

#id_VARLONTIL {
  -ms-grid-row: 31;
  grid-row: 31;
}

#id_VATIAROR {
  -ms-grid-row: 32;
  grid-row: 32;
}

#id_VASV {
  -ms-grid-row: 33;
  grid-row: 33;
}

#id_VV {
  -ms-grid-row: 34;
  grid-row: 34;
}
