.veilarbportefoljeflatefs {
    .chevron-lenke--hide {
        visibility: hidden;
    }

    .moteendringsboks {
        grid-column: 4;
        display: flex;
        justify-content: flex-end;
    }
}
