/* For å sikre at hjørnet på huskelappen blir "gjennomsiktig" i rader med mørk bakgrunn */
.veilarbportefoljeflatefs .minoversikt-liste__wrapper li:nth-child(even) .huskelapp__postit::before {
    background: #f4f4f4;
}

.lag-huskelapp-inngang {
    max-width: 31rem;
}

.huskelapp-panelvisning__handlingsknapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
