.huskelapp-panel {
    padding-left: 6rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;

    display: flex;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .huskelapp-panel {
        padding-left: 1rem;
    }
}

/* For å sikre at hjørnet på huskelappen blir "gjennomsiktig" i rader med mørk bakgrunn (men ikkje i modalar i rada) */
.veilarbportefoljeflatefs .minoversikt-liste__wrapper li:nth-child(even) .huskelapp-panel > .huskelapp__postit::before {
    background: var(--a-bg-subtle);
}

.huskelapp-panel > .huskelapp__innhold {
    flex-basis: 26rem;
}

.huskelapp-panelvisning__handlingsknapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}
