@import (reference) '~nav-frontend-core/less/_variabler';

.lagre-endringer-toast {
    display: flex;
    position: absolute;
    width: fit-content;
    z-index: 10;
    right: 8rem;
    top: 6rem;

    &__alertstripe {
        padding: 0.5rem !important;
    }

    &__tekst {
        color: black;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.2rem;
    }

    &__lukknapp {
        margin: 0 0.5rem;
    }
}
