@import (reference) '~nav-frontend-core/less/_variabler';

.veiledergruppe-toast {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  position: absolute;
  width: fit-content;
  z-index: 10;
  right: 8rem;
  top: 6rem;

  &:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 3px @fokusFarge;
    outline: none;
  }

  &__alertstripe {
    padding: 0.5rem !important;
  }

  &__tekst {
    color: black;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
  }
}
