@import (reference) '~nav-frontend-core/less/_variabler';

.lagre-endringer-toast, .slette-gruppe-toast, .opprett-gruppe-toast, .ingen-endringer-toast {
  display: flex;
  position: absolute;
  width: fit-content;
  z-index: 10;
  right: 8rem;
  top: 6rem;

  &:focus {
    box-shadow: 0 0 0 3px @fokusFarge;
  }

  &__alertstripe {
    padding: 0.5rem !important;
  }

  &__tekst {
    color: black;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
  }
}
