.veilarbportefoljeflatefs {
    .minArbeidsliste {
        &__tittel {
            margin-top: 1rem;
        }

        &__kategori-checkboxwrapper {
            margin: 0 0 0 1.5rem;
            padding-bottom: 0;
            .skjemaelement__label {
                height: 1.5rem;
            }
        }
    }

    .arbeidslistetekst {
        margin-left: 0.5rem;
        position: absolute;
    }

    .arbeidslisteikon__svg {
        max-width: 1.7rem;
        max-height: 1.2rem;

        &__bla {
            max-width: 1.8rem;
            max-height: 1.3rem;
        }
    }
}
