.veilarbportefoljeflatefs .minArbeidsliste__tittel {
    margin: 1rem 0 0.5rem;
}
.veilarbportefoljeflatefs .minArbeidsliste__alert {
    margin: var(--a-spacing-2) 0;
}
.veilarbportefoljeflatefs .minArbeidsliste__kategori-checkboxwrapper {
    padding: 0 0 0 1.5rem;
}
.veilarbportefoljeflatefs .arbeidslistetekst {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start !important;
}
