.veilarbportefoljeflatefs .fargekategorier--underfilter {
    margin-left: 1.5rem;
}

.veilarbportefoljeflatefs .sidebar__content-container#STATUS .fargekategoriikon {
    width: 1.5rem;
    height: 1.5rem;
}
