.filtrering-oversikt.panel {
    padding: 0 0.5rem 0 0;
}

.filtrering-oversikt {

    .skjema__input {
        padding: 0.15rem 0;
    }

    &__totalt-antall {
        font-weight: 800 !important;
    }

}
