.varsel-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem !important;

    &__ikon {
        align-items: center;

        svg {
            width: 2rem;
            height: auto;
        }
    }

    .bekreft-sletting-modal {
        &__tekstgruppe {
            margin-bottom: 1rem;
        }

        &__knappegruppe {
            display: flex;
            justify-content: space-evenly;
            margin: 0 6rem;
        }
    }
}
