.varsel-modal__ikon {
    display: flex;
    justify-content: center;
}
.varsel-modal__ikon svg {
    width: 4rem;
    height: auto;
}
.varsel-modal__ikon .warning-icon {
    color: #ff9100;
}
.varsel-modal__ikon .error-icon {
    color: #ba3a26;
}
.varsel-modal__ikon .success-icon {
    color: green;
}
.varsel-modal .bekreft-sletting-modal__tekstgruppe {
    margin-bottom: 1rem;
}
.varsel-modal .bekreft-sletting-modal__knappegruppe {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
