.veilarbportefoljeflatefs .filterform__under-valg {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    margin: 0 0.5rem 0.5rem;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg__header {
    display: grid;
    grid-template-columns: 75% auto auto;
    grid-gap: 0.5rem;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg__header--first {
    grid-column: 2;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.375rem 0;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg .navds-body-short {
    max-width: 12.5rem;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg .navds-radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.veilarbportefoljeflatefs .aktivitetfilterform-avansert__valg .aktivitetvalg .skjemaelement__label {
    margin-bottom: 1rem;
}
.veilarbportefoljeflatefs .aktivitet-filterform__knappegruppe {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c9c9c9;
}
.veilarbportefoljeflatefs .aktivitet-filterform__knappegruppe .filterknapp {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    color: #0067c5;
    text-decoration: underline;
    cursor: pointer;
}
.veilarbportefoljeflatefs .aktivitet-filterform__knappegruppe .nullstill__wrapper {
    border-top: none;
}
.veilarbportefoljeflatefs .aktivitet-filterform__knappegruppe .nullstill__knapp {
    margin: 0.5rem;
}
.veilarbportefoljeflatefs .aktivitetfilterform-forenklet .aktivitetvalg {
    margin: 0.5rem;
}
.veilarbportefoljeflatefs .alder-input {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 0.5rem;
}
.veilarbportefoljeflatefs .alder-input .alder-container {
    display: flex;
    flex-direction: column;
}
.veilarbportefoljeflatefs .alder-input .alder-container input[type='number']::-webkit-inner-spin-button,
.veilarbportefoljeflatefs .alder-input .alder-container input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.veilarbportefoljeflatefs .alder-input .alder-container .filter_alder {
    max-width: 4rem;
}
.veilarbportefoljeflatefs .alder-input .alder-container .filter_alder__validering {
    border: 2px solid red;
}
.veilarbportefoljeflatefs .alder-input .navds-text-field__input {
    margin-top: 0;
}
.veilarbportefoljeflatefs .alder-input .alder-velg-knapp {
    align-self: end;
}
.veilarbportefoljeflatefs .filter-alder__tekst {
    display: flex;
    justify-content: center;
}
.veilarbportefoljeflatefs .validering-tekst {
    grid-column-start: 1;
    grid-column-end: 3;
    color: red;
    font-weight: bolder;
    margin: 0 0.5rem;
}
.veilarbportefoljeflatefs .checkbox-filterform {
    padding: 0.5rem;
}
.veilarbportefoljeflatefs .checkbox-filterform__valg {
    max-height: 16rem;
    overflow-x: auto;
    padding: 0.2rem;
}
.veilarbportefoljeflatefs .checkbox-filterform__valg__double {
    max-height: 16rem;
    overflow-x: auto;
    padding: 0.5rem 0.5rem 0;
    grid-gap: 0.5rem;
}
.veilarbportefoljeflatefs .checkbox-filterform__valg__double .checkbox-filterform-col1 {
    grid-column: 1;
}
.veilarbportefoljeflatefs .checkbox-filterform__valg__double .checkbox-filterform-col2 {
    grid-column: 2;
}
.veilarbportefoljeflatefs .checkbox-filterform__valg-knapp {
    margin-top: 1rem;
}
.veilarbportefoljeflatefs .checkbox-filterform__alertstripe {
    padding: 0.5rem 0 1rem 0.5rem;
    border: none;
}
.veilarbportefoljeflatefs .checkbox-filterform .utvalgsliste {
    font-size: 0.875rem !important;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

.veilarbportefoljeflatefs .checkbox-filterform .utvalgsliste .navds-checkbox__label {
    padding: 0 0;
    margin: -4px 0;
}

.veilarbportefoljeflatefs .field__container {
    position: relative;
}
.veilarbportefoljeflatefs .field__container :last-child {
    margin-bottom: 0;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform {
    padding: 0.5rem 0 0;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 10px;
    margin-bottom: 0.5rem;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container {
    text-align: center;
    margin: 0.2rem;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label {
    position: relative;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label:hover {
    color: #0067c5;
    border: 1px solid #0067c5;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label::before,
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label::after {
    position: absolute;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label::before {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0.2rem;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .fodselsdato__container label::after {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.veilarbportefoljeflatefs
    #Fødselsdato-dropdown__innhold
    .checkbox-filterform
    .fodselsdato__container
    input[type='checkbox'] {
    opacity: 0;
    appearance: none;
}
.veilarbportefoljeflatefs
    #Fødselsdato-dropdown__innhold
    .checkbox-filterform
    .fodselsdato__container
    input[type='checkbox']
    + label::after {
    content: none;
}
.veilarbportefoljeflatefs
    #Fødselsdato-dropdown__innhold
    .checkbox-filterform
    .fodselsdato__container
    input[type='checkbox']:checked
    + label {
    background-color: #0056b4;
    color: white;
}
.veilarbportefoljeflatefs
    #Fødselsdato-dropdown__innhold
    .checkbox-filterform
    .fodselsdato__container
    input[type='checkbox']:checked
    + label::after {
    content: '';
}
.veilarbportefoljeflatefs
    #Fødselsdato-dropdown__innhold
    .checkbox-filterform
    .fodselsdato__container
    input[type='checkbox']:focus
    + label::before {
    border-radius: 4px;
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.veilarbportefoljeflatefs #Fødselsdato-dropdown__innhold .checkbox-filterform .nullstill__knapp {
    margin: 0.5rem;
}
.veilarbportefoljeflatefs .radio-filterform {
    padding: 0.5rem;
}
.veilarbportefoljeflatefs .radio-filterform__valg {
    z-index: 1000;
    margin-bottom: 0;
}
.veilarbportefoljeflatefs .radio-filterform__valg .navds-radio-buttons div:first-child {
    border-bottom: 1px solid var(--a-border-divider);
}
.veilarbportefoljeflatefs .hendelser-filterform {
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.veilarbportefoljeflatefs .hendelser-filterform__valg {
    z-index: 1000;
    margin-bottom: 0;
    max-height: 24rem;
    overflow-x: auto;
}
.veilarbportefoljeflatefs .hendelser-filterform__radio-gruppe {
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.veilarbportefoljeflatefs .hendelser-filterform__radio-gruppe + .uleste-endringer {
    margin-left: 0.5rem;
}
.veilarbportefoljeflatefs .hendelser-filterform .navds-radio-buttons,
.veilarbportefoljeflatefs .hendelser-filterform .navds-checkboxes {
    margin-left: 0.5rem;
}
.veilarbportefoljeflatefs .hendelser-filterform__checkbox-gruppe {
    margin-bottom: 1rem;
    border-bottom: 1px solid #78706a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.veilarbportefoljeflatefs .hendelser-filterform__checkbox-gruppe .navds-help-text {
    margin-right: 1rem;
    align-self: center;
}
.veilarbportefoljeflatefs .hendelser-filterform .nullstill__knapp {
    margin: 0.5rem;
}
.veilarbportefoljeflatefs .hendelser-filterform #uleste-endringer {
    margin-left: 0.5rem;
    align-self: center;
    transform: scale(1.5);
}
