@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .til-toppen-knapp {
        right: 2rem;
        bottom: 2rem;
        opacity: 1;
        background-color: white;
        transition: all 0.75s ease;
        transform: translateY(0);

        &.knapp {
            position: fixed;

            &:hover {
                background-color: #0074df;
            }
        }

        &--skjul {
            opacity: 0;
            transform: translateY(20px);

            &:hover {
                cursor: unset;
            }
        }

        svg {
            width: 22px;
            height: 24px;
        }

        &:focus {
            fill: #0074df;
        }
    }
}
