.lagret-filter-meny-modal {
  width: 35rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 10%;

  }

  .modal-visningstype {
    margin: 1rem 0;
  }
}
