.veilarbportefoljeflatefs-modal {
  .lagret-filter-meny-modal {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 1rem 10%;

      .ny-knapp {
        margin-right: 0 !important;
      }
    }

    .typo-normal {
      word-break: break-word;
    }

    .modal-visningstype {
      margin: 1rem 0;
    }
  }

  .lagret-filter-knapp-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

}

.varsel-modal__innhold {
  text-align: center;

  .error-knapp {
    margin-top: 1rem;
  }

  .typo-normal {
    word-break: break-word;
  }
}
