.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.9rem;
    height: 1.6rem;
    color: var(--a-text-on-inverted);
    cursor: pointer;
}
.toggle-switch .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--a-surface-neutral);
    border-radius: 1.6rem;
}
.switch-slider:before {
    position: absolute;
    content: '';
    height: 1.216rem;
    width: 1.216rem;
    left: 0.25rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
.toggle-input:checked + .switch-slider {
    background-color: var(--a-blue-700); /* --a-surface-action-selected */
}
.toggle-input:hover + .switch-slider {
    background-color: var(--a-surface-neutral-hover);
}
.toggle-input:checked:hover + .switch-slider {
    background-color: var(--a-blue-800); /* --a-surface-action-selected-hover */
}
.toggle-input:checked + .switch-slider:before {
    -webkit-transform: translateX(1.223rem);
    -ms-transform: translateX(1.223rem);
    transform: translateX(1.223rem);
}
.toggle-switch-border {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    border-radius: 1.6rem;
    box-sizing: border-box;
}
.toggle-input:focus-visible ~ .toggle-switch-border {
    outline: 2px solid var(--a-border-focus);
    outline-offset: 2px;
}
.toggle-switch-las {
    cursor: pointer;
}
.toggle-switch-las__apen {
    position: absolute;
    top: 0.2rem;
    left: 0.25rem;
    visibility: hidden;
}
.toggle-switch-las__lukked {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    visibility: hidden;
}
.toggle-input:checked ~ .toggle-switch-las__apen {
    visibility: visible;
    animation-name: quick-fade;
    animation-duration: 0.4s;
}
.toggle-input:not(:checked) ~ .toggle-switch-las__lukked {
    visibility: visible;
    animation-name: quick-fade;
    animation-duration: 0.4s;
}
@keyframes quick-fade {
    0% {
        visibility: hidden;
    }
    85% {
        visibility: visible;
    }
}
