@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .navds-tag {
        font-size: 14px;
    }
    .brukerliste__gutter-right {
        .etikett {
            text-align: center;
            padding: 0.125rem 0.5rem;
            margin: 0.125rem;
            width: auto;

            &--doed {
                border-color: @navMorkGra;
                background-color: @navGra80;
                color: @white;
            }
        }
    }
}
