.veilarbportefoljeflatefs .sorteringheader {
    display: grid;
    grid-template-columns: fit-content(100%) auto;
}
.veilarbportefoljeflatefs .sorteringheader button span {
    font-weight: normal;
}
.veilarbportefoljeflatefs .sorteringheader__pil {
    width: 1rem;
    height: 1rem;
    grid-column: 2;
    float: left;
    align-self: center;
    margin-left: 0.125rem;
}

.veilarbportefoljeflatefs .sorteringspil {
    color: var(--a-icon-default);
    width: 0.667em; /* Tilsvarer 1rem */
}

.veilarbportefoljeflatefs .huskelapp__sorteringsheader .sorteringspil {
    margin-left: var(--a-spacing-1);
}

.veilarbportefoljeflatefs .arbeidslistekategori__sorteringsheader {
    /* Min-width er summen av: ikon-breidd: 1.2rem, sorteringspil-breidd: 1rem, sorteringspil-margin: 2px */
    min-width: calc(1.2rem + 1rem + 2px);
    margin-left: var(--a-spacing-2);
}

.veilarbportefoljeflatefs .tomt-arbeidslisteikon {
    width: calc(19 / 16 * 1rem); /* 19px */
    height: calc(19 / 16 * 1rem);
    display: block;
}
