.sorteringheader {
    display: grid;
    grid-template-columns: fit-content(100%) auto;

    &__lenke {
        grid-column: 1;
    }

    &__pil-ikke-sortert {
        width: 1rem;
        height: 1rem;
        grid-column: 2;
        float: left;
        margin-top: 2px;
    }
}
