.endringslogg-container{
    display: flex;
    align-items: flex-start;
    z-index: 998;
    box-shadow: 0 2px 4px 0 rgba(183,177,169,.5);
    max-width: 30rem;
    background-color: white;
}

.collapse-header {
    background-color: #3E3832;
    color: white;
    padding: 1em;
    border-top-left-radius: 10px;
    width: -webkit-fill-available;
    text-align: center;
    border-top-right-radius: 10px;
}

.collapse-container {
    margin-top: 2.5em;
    right: 1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30em;
    z-index: 2;

}

.collapse-container-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .collapse-container-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .collapse-container-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .collapse-container-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }

.collapse-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-color: #3e3832;
    border-top-right-radius: 11px;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -6px;
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

.endringslogg-info-ingen-notifikasjoner{
    height: .625rem;
    width: .625rem;
    margin-left: auto;
    margin-right: 0.5em;
}

.endringslogg-info-nye-notifikasjoner{
    height: .625rem;
    width: .625rem;
    background-color: #0067c5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    margin-left: auto
}
.endringslogg-info-kolonne {
    margin-top: 0.3rem;
    float: left;
  }

.endringslogg-dropDown{
    position: absolute;
    right: 1em;
}

.endringslogg-innhold{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 0;
}

.endringslogg-title{
    margin-right: auto;
    margin-left: 0.2em;
    padding-right: 0.5em;
}


.endringslogg-kolonne {
    float: left;
    max-width: 90%;
  }

.endringslogg-rad {
    padding: 1em;
    background-color: white;
}
.endringslogg-skille{
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(183,177,169);

}

.endringslogg-skille:after {
    content: "";
    display: table;
    clear: both;
}


.endringslogg-rad:after {
    content: "";
    display: table;
    clear: both;
}


