.endringslogg-container{
    display: flex;
    align-items: flex-start;
    z-index: 998;

}

.endringslogg-info{
    background: data-uri('./ikon_info.svg') no-repeat center center;
    background-color: transparent;
    padding: 1em;
    margin-top: 1rem;

}
.endringslogg-dropDown{
    position: absolute;
    right: 1em;
}
