.endringslogg-container{
    display: flex;
    align-items: flex-start;
    z-index: 998;
    box-shadow: 0 2px 4px 0 rgba(183,177,169,.5);
    max-width: 30rem;
}

.endringslogg-info-ingen-notifikasjoner{
    height: .625rem;
    width: .625rem;
    margin-left: auto;
    margin-right: 0.5em;
}

.endringslogg-info-nye-notifikasjoner{
    height: .625rem;
    width: .625rem;
    background-color: #0067c5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    margin-left: auto
}
.endringslogg-info-kolonne {
    margin-top: 0.3rem;
  }

.endringslogg-dropDown{
    position: absolute;
    right: 1em;
}

.endringslogg-innhold{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 0;
}

.endringslogg-title{
    margin-right: auto;
    margin-left: 0.5em;
}


.endringslogg-kolonne {
    float: left;
    max-width: 90%;
  }

.endringslogg-rad {
    margin-bottom: 1em;
}
.endringslogg-skille{
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(183,177,169);

}

.endringslogg-skille:after {
    content: "";
    display: table;
    clear: both;
}


.endringslogg-rad:after {
    content: "";
    display: table;
    clear: both;
}
