@import "./listevisning/listevisning";
@import "../dropdown/dropdown.less";

@bakgrunnsGra: #F4F4F4;

.veilarbportefoljeflatefs {
    .visuallyhidden {
        position: absolute;
        left: -1000000000px;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        border-radius: @border-radius-base @border-radius-base 0 0;
        background-color: @bakgrunnsGra;
        z-index: 1000;
        margin-bottom: .5rem;
        padding-left: .5rem;

        .nav-frontend-chevron span {
            .sr-only();
        }

        .toggle__label {
            min-width: 3rem;
        }

        #tildel-veileder-ikon {
            margin-right: .3rem;
        }


        &-knapp__ikon {
            min-width: 1.5rem;
            min-height: 1.5rem;
        }

        &-knapp__tekst {
            padding-right: .5rem;
        }

        &__element {
            display: flex;
            flex-direction: row;
        }

        .sok-veileder-wrapper, .tildel-veileder-wrapper {
            min-width: 210px;
            margin-right: 1rem;

            .sok-veileder-container, .tildel-veileder-container {
                .sokfilter .skjemaelement {
                    margin-bottom: 0;
                }

                .checkbox-filterform, .radio-filterform {
                    position: absolute;
                    z-index: 2000;
                    background-color: @white;
                    border: 1px solid @navGra40;
                    border-top: none;
                    min-width: 210px;
                    border-radius: 4px;

                    &__valg {
                        margin: 0;
                        border-bottom: 1px solid @navGra40;
                        overflow-x: auto;
                        max-height: 15.5rem;

                        .skjemaelement {
                            margin-bottom: .5rem;
                        }
                    }
                }

                .alertstripe {
                    padding: 1rem .7rem;
                    z-index: 2000;
                    position: absolute;
                }
            }
        }
    }

    .velgalle-checkboks {
        margin: 0;
        color: @navDypBla;
        padding: 0;
        width: auto;
        top: -15px;

        .skjemaelement__label:before {
            top: 2px;
        }

        input:disabled + label {
        }
    }

    .arbeidslistekategori__sorteringsheader {
        min-width: 2rem;
        margin-top: 3px;

        .arbeidslisteikon__svg {
            min-width: 1rem;
            min-height: 20px;
        }
    }

    .dropdown--toolbar {
        border-radius: @border-radius-base;
        width: auto;
        min-width: 11rem;
        height: 100%;
        margin: 0 1rem 0 0 !important;

        .dropdown__btn {
            border: 1px solid @navGra60;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                border-color: @navBla;
            }

            &:disabled {
                color: @navGra20;

                &:hover {
                    border-color: transparent;
                    cursor: default;
                }
            }
        }

        .dropdown__btnwrapper {
            &:before, &:after {
                .chevronline-mixin(0.75rem);
                top: 50%;
            }
        }

        .dropdown__innhold {
            width: 286px;
        }

        .sokfilter {
            text-align: center;
        }

        .sokfilter .skjemaelement {
            margin-bottom: 0;
        }

        .sokfilter .skjemaelement__label {
            .sr-only();
        }

        .sokfilter .skjemaelement__input {
            height: 1.8rem;
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
            background: no-repeat 99% 130%;
        }

        .sokfilter .skjemaelement__input::-ms-clear {
            display: none;
        }
    }

    .toolbar_btn {
        border: 1px solid transparent;
        padding: 0.5rem;
        height: 100%;
        margin: 0 0.5rem 0 0;
        position: relative;
        text-align: inherit;
        background-color: @bakgrunnsGra;
        width: 200px;
        display: flex;
        flex-direction: row;

        &:disabled {
            #arbeidsliste-svg, #tildel-veileder-ikon, #sok-veileder-ikon {
                opacity: 0.4;
            }

            &:hover {
                border-color: transparent;
                cursor: default;
            }
        }

        &:focus {
            outline: none;
            border-radius: 2px;
            box-shadow: 0 0 0 3px @fokusFarge;
        }

        &:hover {
            border-color: @navBla;
            cursor: pointer;
        }
    }
}
