.veilarbportefoljeflatefs .typo-normal {
  width: 100%;
}
.veilarbportefoljeflatefs .listevisning--infopanel {
  display: flex;
  width: 100%;
  position: relative;
}
.veilarbportefoljeflatefs .listevisning--infopanel__lukkKnapp {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: -0.25rem;
  top: -0.25rem;
}
.veilarbportefoljeflatefs .skjemaelement__input:disabled + label {
  cursor: default;
}
.veilarbportefoljeflatefs .skjemaelement__input:disabled + label::before {
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}
.veilarbportefoljeflatefs .ustilet {
  padding: 1rem 0.5rem 0;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner {
  margin-right: 1rem;
  min-width: 11rem;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner .dropdown {
  margin-bottom: 0;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner .dropdown__btnwrapper--disabled svg {
  opacity: 0.4;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner .dropdown__btnwrapper--disabled:hover {
  border: none;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner .dropdown__btn {
  background-color: #f4f4f4;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem 0 0.5rem !important;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner svg {
  margin-right: 0.2rem;
}
.veilarbportefoljeflatefs .toolbar__velg-kolonner .velg-kolonner__tekst {
  position: absolute;
  top: 10px;
}
.veilarbportefoljeflatefs .dropdown {
  position: relative;
  margin-bottom: 0.5rem;
}
.veilarbportefoljeflatefs .dropdown__btnwrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}
.veilarbportefoljeflatefs .dropdown__btnwrapper:before {
  pointer-events: none;
  content: '';
  background: currentColor;
  height: 2px;
  width: 10px;
  border-radius: 10px;
  right: 0.75rem;
  top: 1.3rem;
  position: absolute;
  transition: transform 0.2s;
  transform: translateX(3px) rotate(-45deg);
}
.veilarbportefoljeflatefs .dropdown__btnwrapper:after {
  pointer-events: none;
  content: '';
  background: currentColor;
  height: 2px;
  width: 10px;
  border-radius: 10px;
  right: 0.75rem;
  top: 1.3rem;
  position: absolute;
  transition: transform 0.2s;
  transform: translateX(-3px) rotate(45deg);
}
.veilarbportefoljeflatefs .dropdown__btnwrapper--disabled {
  color: #c9c9c9;
}
.veilarbportefoljeflatefs .dropdown__btn {
  text-align: left;
  width: 100%;
  padding: 0.45rem 1.5em 0.45rem 0.45rem;
  background: #fff;
  border: 1px solid #6a6a6a;
  border-radius: 2px;
  color: #000000;
}
.veilarbportefoljeflatefs .dropdown__btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
}
.veilarbportefoljeflatefs .dropdown__btn:disabled {
  color: #c9c9c9;
}
.veilarbportefoljeflatefs .dropdown__innhold {
  position: absolute;
  z-index: 2000;
  border: 1px solid #a0a0a0;
  top: calc(100% - 1px);
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  width: 100%;
  margin-bottom: 2rem;
}
.veilarbportefoljeflatefs .dropdown .hoyre {
  margin-left: -30%;
}
.veilarbportefoljeflatefs .dropdown:hover .dropdown__btn,
.veilarbportefoljeflatefs .dropdown:hover .dropdown__innhold {
  border-color: #0067c5;
}
.veilarbportefoljeflatefs .dropdown--apen {
  margin-bottom: -0.05rem;
  border-bottom: none;
}
.veilarbportefoljeflatefs .dropdown--apen .dropdown__btnwrapper:before {
  pointer-events: none;
  content: '';
  background: currentColor;
  height: 2px;
  width: 10px;
  border-radius: 10px;
  right: 0.75rem;
  top: 1.3rem;
  position: absolute;
  transition: transform 0.2s;
  transform: translateX(3px) rotate(45deg);
  z-index: 2000;
}
.veilarbportefoljeflatefs .dropdown--apen .dropdown__btnwrapper:after {
  pointer-events: none;
  content: '';
  background: currentColor;
  height: 2px;
  width: 10px;
  border-radius: 10px;
  right: 0.75rem;
  top: 1.3rem;
  position: absolute;
  transition: transform 0.2s;
  transform: translateX(-3px) rotate(-45deg);
  z-index: 2000;
}
.veilarbportefoljeflatefs .dropdown--apen .dropdown__btn {
  position: relative;
  z-index: 120;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}
.veilarbportefoljeflatefs .dropdown--alignright .dropdown__innhold {
  right: 0;
  border-radius: 2px 0 2px 2px;
}
.veilarbportefoljeflatefs .dropdown .knapperad {
  padding: 0;
}
.veilarbportefoljeflatefs .visuallyhidden {
  position: absolute;
  left: -1000000000px;
}
.veilarbportefoljeflatefs #veilederside-toolbar {
  padding-left: 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  border: none;
  background-color: #f4f4f4;
  justify-content: space-between;
}
.veilarbportefoljeflatefs .toolbar {
  display: flex;
  align-items: center;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: #f4f4f4;
  z-index: 1000;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.veilarbportefoljeflatefs .toolbar .toggle__label {
  min-width: 3rem;
}
.veilarbportefoljeflatefs .toolbar #tildel-veileder-ikon {
  margin-right: 0.3rem;
}
.veilarbportefoljeflatefs .toolbar-knapp__ikon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: #000000;
}
.veilarbportefoljeflatefs .toolbar-knapp__tekst {
  padding-right: 0.5rem;
  color: #000000;
}
.veilarbportefoljeflatefs .toolbar__element {
  display: flex;
  flex-direction: row;
}
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper {
  margin-right: 0.5rem;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper {
  width: 186px;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .sokfilter .skjemaelement,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .sokfilter .skjemaelement {
  margin-bottom: 0;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .checkbox-filterform,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .checkbox-filterform,
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .radio-filterform,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .radio-filterform {
  position: absolute;
  z-index: 2000;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-top: none;
  border-radius: 0 0 4px 4px;
  width: 190px;
  margin-right: 0.5rem;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .checkbox-filterform__valg,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .checkbox-filterform__valg,
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .radio-filterform__valg,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .radio-filterform__valg {
  margin: 0;
  overflow-x: auto;
  max-height: 15.5rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .checkbox-filterform__valg .skjemaelement,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .checkbox-filterform__valg .skjemaelement,
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .radio-filterform__valg .skjemaelement,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .radio-filterform__valg .skjemaelement {
  margin-bottom: 0.5rem;
}
.veilarbportefoljeflatefs .toolbar .sok-veileder-wrapper .toolbarknapp-input .alertstripe,
.veilarbportefoljeflatefs .toolbar .tildel-veileder-wrapper .toolbarknapp-input .alertstripe {
  padding: 1rem 0.7rem;
  z-index: 2000;
  position: absolute;
}
.veilarbportefoljeflatefs .velgalle-checkboks {
  color: #005b82;
  padding: 0;
  width: auto;
}
.veilarbportefoljeflatefs .velgalle-checkboks .skjemaelement__label {
  margin-bottom: inherit;
}
.veilarbportefoljeflatefs .arbeidslistekategori__sorteringsheader {
  min-width: 2rem;
  max-width: 4rem;
  margin-top: 6px;
}
.veilarbportefoljeflatefs .arbeidslistekategori__sorteringsheader .navds-button {
  min-width: 0;
}
.veilarbportefoljeflatefs .dropdown--toolbar {
  border-radius: 4px;
  width: auto;
  min-width: 11rem;
  height: 100%;
  margin: 0 1rem 0 0 !important;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btn {
  border: 1px solid #6a6a6a;
  padding: 0.5rem;
  cursor: pointer;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btn:hover {
  border-color: #0067c5;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btn:disabled {
  color: #c9c9c9;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btn:disabled:hover {
  border-color: transparent;
  cursor: default;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btnwrapper:before,
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__btnwrapper:after {
  pointer-events: none;
  content: '';
  background: currentColor;
  height: 2px;
  width: 10px;
  border-radius: 10px;
  right: 0.75rem;
  top: 0.75rem;
  position: absolute;
  transition: transform 0.2s;
  top: 50%;
}
.veilarbportefoljeflatefs .dropdown--toolbar .dropdown__innhold {
  width: 286px;
}
.veilarbportefoljeflatefs .dropdown--toolbar .sokfilter {
  text-align: center;
}
.veilarbportefoljeflatefs .dropdown--toolbar .sokfilter .skjemaelement {
  margin-bottom: 0;
}
.veilarbportefoljeflatefs .dropdown--toolbar .sokfilter .skjemaelement__label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
.veilarbportefoljeflatefs .dropdown--toolbar .sokfilter .skjemaelement__input {
  height: 1.8rem;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: no-repeat 99% 130%;
}
.veilarbportefoljeflatefs .dropdown--toolbar .sokfilter .skjemaelement__input::-ms-clear {
  display: none;
}
.veilarbportefoljeflatefs .toolbar_btn {
  border: 1px solid transparent;
  padding: 0.5rem;
  height: 100%;
  margin: 0 0.5rem 0 0;
  position: relative;
  text-align: inherit;
  background-color: #f4f4f4;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.veilarbportefoljeflatefs .toolbar_btn:disabled #arbeidsliste-svg,
.veilarbportefoljeflatefs .toolbar_btn:disabled #tildel-veileder-ikon,
.veilarbportefoljeflatefs .toolbar_btn:disabled #sok-veileder-ikon {
  opacity: 0.4;
}
.veilarbportefoljeflatefs .toolbar_btn:disabled:hover {
  cursor: default;
  box-shadow: none;
  border-color: transparent;
}
.veilarbportefoljeflatefs .toolbar_btn:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #00347d;
}
.veilarbportefoljeflatefs .toolbar_btn:active:hover,
.veilarbportefoljeflatefs .toolbar_btn:active {
  background-color: transparent;
}
.veilarbportefoljeflatefs .toolbar_btn:hover {
  border-color: #0067c5;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-hover);
}
