@toolbarTextColor: #005b82;
@toolbarInactiveTextColor: @grayInactive;

@import "./listevisning/listevisning";

.visuallyhidden {
    position: absolute;
    left: -1000000000px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid @navGra60;
    border-bottom: none;
    border-radius: @border-radius-base @border-radius-base 0 0;
    background-color: @white;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;


    .nav-frontend-chevron span {
        .sr-only();
    }

    .toggle__label {
        min-width: 3rem;
    }
}

.toolbar__element {
    display: flex;
    flex-direction: row;
}

.toolbar__venstre {
    margin-right: 1rem;
}

.toolbar__midten {
}

.toolbar__hoyre {
    margin-left: 1rem;
}

.velgalle-checkboks {
    margin: 0;
    color: @toolbarTextColor;
    padding: 0;
    width: auto;
    top: -15px;

    .skjemaelement__label:before {
        top: 2px;
    }

    input:disabled + label {
    }
}

.minoversikt__velgallecheckbox {
    margin-right: 1rem;
}

.dropdown--toolbar {
    border-radius: @border-radius-base;
    width: auto;
    min-width: 10rem;
    height: 100%;
    margin: 0 1rem 0 0;

    .dropdown__btn {
        border: 1px solid @navGra60;
        color: @navGra80;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            border-color: @blue-link;
        }

        &:disabled {
            color: @navGra20;
            border: 1px solid @navGra20;
        }
    }

    .dropdown__btnwrapper {
        &:before, &:after {
            .chevronline-mixin(0.75rem);
            top: 50%;
        }
    }

    .dropdown__innhold {
        width: 286px;
    }

    .sokfilter {
        text-align: center;
    }

    .sokfilter .skjemaelement {
        margin-bottom: 0;
    }

    .sokfilter .skjemaelement__label {
        .sr-only();
    }

    .sokfilter .skjemaelement__input {
        height: 1.8rem;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        background: data-uri('./forstorrelsesglass-svart.svg') no-repeat;
        background-position: 99% 130%;
    }

    .sokfilter .skjemaelement__input::-ms-clear {
        display: none;
    }
}

.toolbar_btn {
    border: 1px solid @navGra60;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0 0.5rem 0 0;
    max-width: 12rem;
    position: relative;
    text-align: inherit;

    &:disabled {
        border: 1px solid @navGra20;

        #arbeidsliste-svg {
            opacity: 40%;
        }
    }

    &:focus {
        outline: none;
        border-radius: 2px;
        box-shadow: 0 0 0 3px #ffbd66;
    }

    &:hover {
        border-color: @blue-link;
        cursor: pointer;
    }
}

.toolbar__arbeidsliste-ikon {
    min-width: 1.5rem;
    position: absolute;
    right: 0.25rem;
}


