.checkbox-filterform {
    &__valg {
        max-height: 15.5rem;
        margin-bottom: 0.5rem;
        overflow-x: auto;
        padding: 0.5rem;
    }
}

.field__container {
    position: relative;

    :last-child{
        margin-bottom: 0;
    }
}
