<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>veilarbportefoljeflatefs</display-name>
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>no.nav.fo.veilarbportefoljeflatefs.config.ApplicationConfig</param-value>
    </context-param>

    <servlet>
        <servlet-name>selftest</servlet-name>
        <servlet-class>no.nav.fo.veilarbportefoljeflatefs.internal.SelftestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selftest</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>isAlive</servlet-name>
        <servlet-class>no.nav.fo.veilarbportefoljeflatefs.internal.IsAliveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isAlive</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>decoratorFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>decoratorFilter</filter-name>
        <servlet-name>reactapp</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>restservlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>no.nav.fo.veilarbportefoljeflatefs.provider.rest.RestConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>restservlet</servlet-name>
        <url-pattern>/tjenester/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/app/index.html</location>
    </error-page>


    <servlet>
        <servlet-name>reactapp</servlet-name>
        <servlet-class>no.nav.fo.veilarbportefoljeflatefs.internal.ApplicationServlet</servlet-class>
        <init-param>
            <param-name>applicationFile</param-name>
            <param-value>index.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>reactapp</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/tjenester/login</url-pattern>
            <url-pattern>/tjenester/tekster</url-pattern>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- From Servlet spec 3.1 "**" means any authenticated user
            ref: https://community.oracle.com/blogs/swchan2/2013/04/19/role-servlet-31-security-constraint -->
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
