.oversikt-sideinnhold-veilederside .veileder-tabell {
    table-layout: fixed;
    background: var(--a-bg-default);
    position: relative; /* Slik at sticky-tabelloverskrift har noko 책 klistre seg til */
    border-collapse: separate; /* Slik at border-bottom i sticky-tabelloverskrift er synleg n책r ein scrollar */
    border-spacing: 0; /* Slik at vi ikkje f책r kvite mellomrom mellom kolonner/rader n책r vi har border-collapse: separate */
}

.oversikt-sideinnhold-veilederside .veileder-tabell .veiledertabell__sorteringskolonne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.oversikt-sideinnhold-veilederside .veileder-tabell .veiledertabell__sorteringskolonne button {
    padding-left: 0;
    padding-right: 0;
}

.oversikt-sideinnhold-veilederside .veileder-tabell thead.sticky-tabelloverskrift th {
    position: sticky;
    top: var(--veilederside-toolbar-height);
    background: var(--a-bg-default); /* Gjer at rad-innhald ikkje er synleg bak teksten i tabelloverskrifta */
}
