.huskelapp__innhold {
    display: flex;
    flex-direction: column;
    padding: var(--a-spacing-4);
    min-width: 16rem;
    max-width: 24rem;
    word-wrap: break-word;
}

.huskelapp-visning__kommentar {
    white-space: pre-wrap;
}

.huskelapp__postit {
    position: relative;
    background-color: var(--a-limegreen-100);
}

.huskelapp__postit::before {
    /*flippen i top høyre*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: hsl(64, 89%, 84%) transparent;
    box-shadow: -3px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
