.tour-modal {
  padding: 0 !important;
  background-color: var(--navds-semantic-color-canvas-background-light);
  display: flex;
  flex-direction: column;
  min-width: 31.25rem;
  max-width: 31.25rem;
  border-radius: 6px;
}

.tour-modal.lukknapp {
  top: 1.25rem;
  right: 1.5rem;
}

.tour-modal__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 0;
}

.tour-modal__header--wrapper {
  position: relative;
  margin-bottom: 2px;
  box-shadow: 0 2px 0 rgba(120, 112, 106, 0.5);
}

.tour-modal__main--bilde {
  width: 100%;
  height: 100%;
}

.tour-modal__main--bilde-wrapper {
  box-shadow: 0 2px 5px rgba(120, 112, 106, 0.5);
}

.tour-modal__main--tekst {
  margin: 0 1.2rem !important;
  text-align: center;
  min-height: 4.1rem;
  max-width: 100%;
  font-size: 0.9rem;
}

.tour-modal__main--beskrivelse {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  min-height: 8rem;
}

.tour-modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 1.5rem 1rem;
}
