[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.assistive-text {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.drag-and-drop-knapper {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.drag-and-drop-container {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0.25rem;
}
.drag-and-drop-row {
    height: fit-content;
    margin: 0.4rem 0.2rem;
    display: flex;
    align-items: center;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.drag-and-drop-row.drag-elem {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    border: 2px #00347d;
    padding-left: 0.4rem;
}
.drag-and-drop-row.over-from-below {
    -webkit-box-shadow: 0 -2px 0 0 #0067c5;
    -moz-box-shadow: 0 -2px 0 0 #0067c5;
    box-shadow: 0 -2px 0 0 #0067c5;
}
.drag-and-drop-row.over-from-above {
    -webkit-box-shadow: 0 2px 0 0 #0067c5;
    -moz-box-shadow: 0 2px 0 0 #0067c5;
    box-shadow: 0 2px 0 0 #0067c5;
}
.dropped {
    margin-bottom: 0;
    animation-name: drop-animation;
    animation-duration: 0.3s;
}
@keyframes drop-animation {
    0% {
        transform-origin: left;
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
#drag-icon {
    height: 1rem;
    width: auto;
    float: right;
    visibility: visible;
    align-self: baseline;
    margin-right: 1rem;
    margin-top: 0.3em;
}
.flytt-knapper {
    display: grid;
    grid-template-columns: 2rem 2rem;
    margin-left: auto;
    gap: 0.25rem;
}
.flytt-knapp_opp {
    grid-column: 1;
}
.flytt-knapp_ned {
    grid-column: 2;
}
.flytt-knapp {
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    display: flex;
    padding: 0.2rem 0.4rem;
}
.flytt-knapp:hover {
    background: var(--a-surface-hover);
}
.drag-and-drop-row #Symbols {
    visibility: hidden;
    height: 1.5rem;
    width: auto;
}
.drag-and-drop-row:focus #Symbols {
    visibility: visible;
}
.drag-and-drop-row:focus .flytt-knapp {
    pointer-events: auto;
}
.drag-and-drop-row:focus .flytt-knapp:hover {
    border-color: #00347d;
    pointer-events: auto;
}
.drag-and-drop-knapp-avbryt {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.drag-and-drop-knapp-lagre {
    transform: translateY(0) !important;
    margin-right: 0.5rem !important;
}
.drag-and-drop-knapp-nullstill {
    width: 5.5rem;
    margin-left: auto !important;
}
