.nedtrekksliste .hidden {
    visibility: hidden;
}
.nedtrekksliste .nedtrekksliste-toggle {
    font-size: 11pt;
    font-weight: normal;
    cursor: pointer;
}
.nedtrekksliste .nedtrekksliste--er-apen {
    background-color: white;
    opacity: 1;
    border: 1px solid;
    position: absolute;
    z-index: 1001;
}
