<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <context:property-placeholder system-properties-mode="OVERRIDE"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="ldapAuthProvider"/>
    </security:authentication-manager>

    <bean id="ldapAuthProvider"
          class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
        <constructor-arg value="${ldap.domain}"/>
        <constructor-arg value="${ldap.url}"/>
        <property name="authoritiesMapper" ref="grantedAuthoritiesMapper"/>
        <property name="userDetailsContextMapper">
            <bean class="no.nav.sbl.veilarbportefoljeflatefs.security.NAVLdapUserDetailsMapper" />
        </property>
        <property name="useAuthenticationRequestCredentials" value="true"/>
        <property name="convertSubErrorCodesToExceptions" value="true"/>
    </bean>

    <bean id="grantedAuthoritiesMapper" class="no.nav.sbl.veilarbportefoljeflatefs.security.AuthoritiesMapper"/>
</beans>
