<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">



	<security:http use-expressions="true">
		<!--<security:intercept-url pattern="/rest/**" method="GET" access="permitAll" />-->
		<!--<security:intercept-url pattern="/rest/**" access="isAuthenticated()" />-->
		<security:intercept-url pattern="/innlogging/**" access="permitAll" />
		<security:intercept-url pattern="/internal/**" access="permitAll" />
		<security:intercept-url pattern="/tjenester/brukerstatus" access="permitAll" />
		<security:intercept-url pattern="/tjenester/tekster" access="permitAll" />
		<security:intercept-url pattern="/css/**" access="permitAll" />
		<security:intercept-url pattern="/js/**" access="permitAll" />
		<security:intercept-url pattern="/js/**" access="permitAll" />
		<security:intercept-url pattern="/img/**" access="permitAll" />
		<security:intercept-url pattern="/leverandor/*/rediger" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/**" access="hasRole('ROLE_LESETILGANG')" />
		<security:form-login login-page="/innlogging" login-processing-url="/j_spring_security_check" authentication-failure-url="/"
			default-target-url="/" username-parameter="j_username" password-parameter="j_password" />
		<security:logout logout-url="/logout" success-handler-ref="logoutSuccessHandler" />
		<security:http-basic />
		<security:csrf disabled="true" />
	</security:http>



	<bean id="logoutSuccessHandler" class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler" />
</beans>
