.rediger-huskelapp-modal.navds-modal {
    max-width: 22rem;
}

.rediger-huskelapp-modal .navds-body-short,
.rediger-huskelapp-modal .navds-alert__wrapper {
    font-size: 14px;
    line-height: 1.25rem;
}

.rediger-huskelapp-modal.med-eksisterende-arbeidsliste.navds-modal {
    min-width: fit-content;
}

.med-eksisterende-arbeidsliste .rediger-huskelapp-modal__body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;

    padding-bottom: 0;
}

.rediger-huskelapp-modal .nav-datovelger__kalenderPortal {
    transform: translateY(-116%);
}
