.rediger-huskelapp-modal.navds-modal {
    max-width: 22rem;
}

.rediger-huskelapp-modal .navds-body-short,
.rediger-huskelapp-modal .navds-alert__wrapper {
    font-size: 14px;
    line-height: 1.25rem;
}

.rediger-huskelapp-modal.med-eksisterende-arbeidsliste.navds-modal {
    min-width: fit-content;
}

.med-eksisterende-arbeidsliste .rediger-huskelapp-modal__body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    padding-bottom: 0;
    overflow: visible; /* Gjer at focus-stylinga ikkje vert kutta sjølv om padding-bottom er 0.*/
}

.rediger-huskelapp-modal .nav-datovelger__kalenderPortal {
    transform: translateY(-116%);
}

.rediger-huskelapp-modal-pil {
    margin: auto;
}

.rediger-huskelapp-skjema {
    flex-basis: 17.75rem;
    flex-grow: 1;
    max-width: 26rem;
}
