@import "./node_modules/nav-frontend-paneler-style/src/mixins";

.paginering {
    margin: 1rem 0;

    .info {
        padding: 10px 5px 0;
        display: inline-block;
    }
}
.paginering__knapp {
    border: none;
    background: none;

    .panel-mixin();
    .panel-focushover-mixin();

    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0;

    &:hover {
        text-decoration: underline;
    }

    &:first-child {
        border-top-left-radius: @border-radius-small;
        border-bottom-left-radius: @border-radius-small;
    }

    &:last-child {
        border-top-right-radius: @border-radius-small;
        border-bottom-right-radius: @border-radius-small;
    }

    &:not(.last-child) {
        margin-right: 0.25rem;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }
}
.paginering__knapper {
    float: right;
}
