@import "./node_modules/nav-frontend-paneler-style/src/mixins";

.paginering {
    margin: 1rem 0;
    text-align: center;
    min-height: 1.2rem;

    .info {
        float: left;
        padding: 10px 5px 0;
        display: block;
        margin-top: -4px;
    }
}
.paginering__knapp {
    border: none;
    background: none;

    .panel-mixin();
    .panel-focushover-mixin();

    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0;

    &:hover {
        text-decoration: underline;
    }

    &:first-child {
        border-top-left-radius: @border-radius-base;
        border-bottom-left-radius: @border-radius-base;
    }

    &:last-child {
        border-top-right-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
    }

    &:not(.last-child) {
        margin-right: 0.25rem;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }

    &:focus {
        box-shadow: none;
    }

    &.paginering__knapp--pressed {
        background-color: @navBla;
        color: @white;
        border-color: @navBla;
    }
}
.paginering__knapper {
    float: right;
}

.visningsgruppe {
    display: inline-flex;
    text-align: center;

    input {
        height: 0;
        width: 0;
        opacity: 0;
    }
    label {
        background-color: @white;
        display: inline-block;
        padding: 0.3rem 0.5rem;
        border: 1px solid @navGra20;
    }

    &__knapp {
        &:first-child label {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        &:last-child label {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }

        input:checked + label {
            background-color: @navBla;
            color: @white;
            border-color: @navBla;
        }
    }
}
