@import '~nav-frontend-core/less/core';

.navds-modal {
    width: 40rem;
    padding: 1rem;

    .modal {
        &-header {
        border-bottom: 1px solid @navGra40;
        padding: 0 0 0.5rem;
        }

        &-innhold {
            padding-top: 0.5rem;
        }
    }
}
