@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs-modal {
  .modal {
    position: relative;
    border: 1px solid @navGra40;
    background-color: #f4f4f4;
    outline: none;
    width: 40rem;
    padding: 0;

    .modal-innhold {
      padding: 0 2rem;
    }
  }
}
