.veilarbportefoljeflatefs .moteplan_knapp {
    height: fit-content;
    align-items: baseline; /* Gjer at vi kan plassere teksten i knappen på linje med annan tekst i topp-meny */
}

.veilarbportefoljeflatefs .moteplan_knapp :first-child {
    /* Midtstiller ikonet på knappen */
    align-self: center;
}

.veilarbportefoljeflatefs .moteplan_popover {
    z-index: 1201 !important;
    padding: 2px; /* Unngår at eventuell scrollbar legg seg over border på popover */
}

.veilarbportefoljeflatefs .moteplan_content {
    max-height: max(50vh, 25rem); /* Minst 400px-rem høg, max halve skjermhøgda. Relativt vilkårlege verdiar. */
    overflow-y: auto;
}

.veilarbportefoljeflatefs .moteplan_content ol {
    /* Nullstillar nettleser-styling av liste */
    margin: 0;
    padding: 0;
}

.veilarbportefoljeflatefs .moteplan_content li {
    list-style-type: none; /* Nullstillar nettleserstyling av listeelement */
    margin-bottom: 0.5rem;
}

.veilarbportefoljeflatefs .moteplan_content li:last-child {
    margin-bottom: 0;
}

.veilarbportefoljeflatefs .moteplan_content ol:last-child {
    margin-bottom: 2rem;
}

.veilarbportefoljeflatefs .moteplan_tittel {
    margin-left: 0.75rem;
}

.veilarbportefoljeflatefs .moteplan_tittel:first-letter {
    text-transform: capitalize;
}

.veilarbportefoljeflatefs .moteplan_tabell_tittelrad th {
    padding-bottom: 0 !important;
    font-size: 1rem;
    font-weight: normal;
    font-variant: all-small-caps;
}

.veilarbportefoljeflatefs .moteplan_tabell_klokkeslett {
    width: 3rem;
}

.veilarbportefoljeflatefs .moteplan_tabell_varighet {
    text-wrap: nowrap;
}

.veilarbportefoljeflatefs .moteplan_tabell_deltaker {
    width: 10rem;
    max-width: 10rem;
}

.veilarbportefoljeflatefs .moteplan_tabell_deltaker a {
    display: block;
    width: 9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.veilarbportefoljeflatefs .moteplan_tabell_status {
    width: 7.125rem;
}

.vis-flere-moter-knapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 0;
}
