#veiledergruppe-modal__valgteveileder__label {
    margin-bottom: 0.5rem;
}

.veiledergruppe-modal__form .typo-feilmelding {
    max-width: 40rem;
}

.veiledergruppe-modal__form .checkbox-filterform__valg {
    max-height: 16rem;
    overflow-x: auto;
    padding: 0.5rem 0.5rem 0;
}

.veiledergruppe-modal__form .checkbox-filterform__valg__double {
    display: grid;
    max-height: 16rem;
    overflow-x: auto;
    padding: 0.5rem 0.5rem 0;
}

.veiledergruppe-modal__form .checkbox-filterform__valg-knapp {
    margin-top: 1rem;
}

.veiledergruppe-modal__form .checkbox-filterform__under-valg {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.veiledergruppe-modal__form .checkbox-filterform__alertstripe {
    padding: 0.5rem 0 1rem 0.5rem;
    border: none;
}

.veiledergruppe-modal__tekst {
    margin: 0.5rem 0 !important;
}

.veiledergruppe-modal__gruppenavntekst {
    margin: 0 0 8px;
}

.veiledergruppe-modal .alerttext {
    margin: 1rem 0;
    width: 100%;
}

.veiledergruppe-modal__valgteveileder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    height: 15rem;
    border: 1px solid #6a6a6a;
    border-radius: var(--a-border-radius-medium) 0 0 var(--a-border-radius-medium);
}

.veiledergruppe-modal__valgteveileder__tom-liste-tekst {
    font-style: italic;
    color: #6a6a6a;
    padding: 0.5rem 0 0 1rem;
}

.veiledergruppe-modal__valgteveileder__elem {
    padding: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #ccc5c1;
    margin-right: 1rem;
    height: 2.5rem;
    max-height: fit-content;
}

.veiledergruppe-modal__sokefilter {
    margin-top: 1rem;
}

.veiledergruppe-modal__sokefilter .checkbox-filterform {
    max-height: 13rem;
    min-height: 13rem;
    display: grid;
}

.veiledergruppe-modal__sokefilter .checkbox-filterform__valg {
    max-height: 13rem;
    min-height: 13rem;
    border: 1px solid #6a6a6a;
    border-radius: var(--a-border-radius-medium) 0 0 var(--a-border-radius-medium);
    grid-template-columns: 1fr 1fr;
}

.veiledergruppe-modal__sokefilter .checkbox-filterform__alertstripe {
    max-height: 13rem;
    min-height: 13rem;
    border: 1px solid #6a6a6a;
    border-radius: 0.25rem;
    width: auto;
}

.veiledergruppe-modal__knappegruppe {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.veiledergruppe-modal__knappegruppe__slett {
    margin-left: auto !important;
}

.endringer-ikke-lagret-modal__knappegruppe {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem 5rem;
    gap: 0.5rem;
}
