.minoversikt-side {
    margin: 0 3rem;
}

.minoversikt-side--cols {
    display: flex;
    flex-direction: row;
    > :last-child {
        margin-left: 2rem;
    }
}

.minoversikt-side--filter-col {
    width: 30%;
}

.minoversikt-side--liste-col {
    width: 70%;
}
