.veiledere-tabell {
    border-collapse: collapse;

    th {
        overflow: hidden;
        white-space: nowrap;
    }

    a.sortering-link {
        border-bottom: none;
        cursor: pointer;
    }

    a.til-veileder-link {
        border-bottom: none;
    }

}

