.chevron-left {
    margin-right: 0.5rem;
}
.chevron-right {
    margin-left: 0.5rem;
}
.chevron-lenke {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.25rem;
    border-radius: 6px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
}

.chevron-lenke--hide {
    visibility: hidden;
}

.chevron-lenke__tekst {
    color: var(--a-surface-action);
    padding-bottom: 0.125rem;
    border-bottom: 1px solid transparent;
}

.chevron-lenke__tekst:hover {
    border-bottom: 1px solid var(--a-text-action);
}

.chevron-lenke__tekst:focus {
    border: 2px solid var(--a-surface-action);
}
