.veilarbportefoljeflatefs .paginering {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.veilarbportefoljeflatefs .paginering__knapp {
    border: 1px solid transparent;
    border-left: 1px solid #a0a0a0;
    background-color: transparent;
    width: 30%;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
}
.veilarbportefoljeflatefs .paginering__knapp:hover {
    box-shadow: none;
    border-bottom: 1px solid #a0a0a0;
    cursor: pointer;
}
.veilarbportefoljeflatefs .paginering__knapp:first-child {
    border-left: none;
    min-width: fit-content;
}
.veilarbportefoljeflatefs .paginering__knapp:last-child {
    border-right: 1px solid #a0a0a0;
}
.veilarbportefoljeflatefs .paginering__knapp.disabled {
    pointer-events: none;
    cursor: default;
    color: #c9c9c9;
}
.veilarbportefoljeflatefs .paginering__knapp:focus {
    box-shadow: 0 0 0 3px #00347d;
}
