@import '~nav-frontend-core/less/core';
@bakgrunnsGra: #f4f4f4;

.veilarbportefoljeflatefs {
    .paginering {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .paginering__knapper {
        float: right;
    }

    .paginering__knapp {
        border: 1px solid transparent;
        border-left: 1px solid @navGra40;
        background-color: transparent !important;

        &:hover {
            box-shadow: none;
            border-bottom: 1px solid @navGra40;
            cursor: pointer;
        }

        &:first-child {
            border-left: none;
            min-width: fit-content;
        }

        &:last-child {
            border-right: 1px solid @navGra40;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            color: @navGra20;
        }

        &:focus {
            box-shadow: 0 0 0 3px @fokusFarge;
        }
    }

    .visningsgruppe {
        display: inline-flex;

        input {
            height: 0;
            width: 0;
            opacity: 0;
        }

        label {
            display: inline-block;
            padding: 0.3rem 0.5rem;
            border: 1px solid @navGra20;
        }

        &__knapp {
            &:first-child label {
                border-bottom-left-radius: 2px;
                border-top-left-radius: 2px;
            }

            &:last-child label {
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
            }

            input:checked + label {
                background-color: @navBla;
                border-color: @navBla;
            }
        }
    }
}
