.veilarbportefoljeflatefs {
    .modal-liste__lang {
        max-height: 20rem;
        overflow-y: scroll;
        border-top: 1px solid @navGra40;
        border-bottom: 1px solid @navGra40;
    }
}
