@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs-modal {
    .radio-filterform {
        &__valg {
            height: 25rem;
            overflow-x: auto;
            padding: 0 .5rem 0;
            z-index: 1000;
            border-bottom: 1px solid @navGra40;
            margin-bottom: 2rem;
        }
    }
}
