.veilarbportefoljeflatefs {
    .radio-filterform {
        &__valg {
            max-height: 21.5rem;
            overflow-x: auto;
            padding: .5rem .5rem 0;
            z-index: 1000;
        }
    }
}
