.filtrering-oversikt.panel {
    padding: 0 0.5rem;
}

.filtrering-oversikt {

    .skjema__input {
        padding: 0.3rem 0;
    }

    &__totalt-antall {
        font-weight: 800 !important;
    }

}
