.bekreft-sletting-modal {
  text-align: center;
  padding: 2rem 3rem;

  &__tekstgruppe {
    margin-bottom: 2rem !important;
  }

  &__knappegruppe {
    display: flex;
    justify-content: space-evenly;
  }
}
