.varsel-modal {
  .bekreft-sletting-modal {
    padding: 1rem 0;

    &__tekstgruppe {
      margin-bottom: 2rem !important;
    }

    &__knappegruppe {
      display: flex;
      justify-content: space-evenly;
      margin: 0 6rem;
    }
  }
}
