.eksisterende-arbeidslistevisning {
    background: var(--a-gray-200);
    max-width: 500px;
    min-width: 400px;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.huskelapp-modal__heading {
    display: flex;
    align-items: center;
}

.huskelapp-modal__heading svg {
    margin-right: 0.5rem;
}
