.HuskelappVisning::before {
    /*flippen i top høyre*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4; /*TODO hvordan finner man bakgrunnsfargen som er på panelet truuu*/
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: hsl(64, 89%, 84%) transparent;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1), -2px 5px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1), -2px 5px 6px rgba(113, 92, 40, 0.1);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1), -2px 5px 6px rgba(0, 0, 0, 0.1);

    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}

.veilarbportefoljeflatefs .minoversikt-liste__wrapper li:nth-child(odd) .HuskelappVisning::before {
    background: white;
}
.HuskelappVisning {
    background-color: #f9fccc;
    max-height: 200px;
    max-width: 200px;
    padding: 0.75rem 0.5rem 0.5rem 0.75rem;
    margin: 10px 50px;
    position: relative;
    overflow: hidden;
}

.huskelapp-handlingsknapper {
    display: flex;
    justify-content: flex-end;
}

.huskelapp-handlingsknapper button {
    margin-top: 0.5rem;
    margin-left: 5px;
}

.huskelappPanel {
    display: flex;
}

.lagHuskelappInngang {
    margin: 10px 50px;
    max-width: 500px;
}

.eksisterendeArbeidslisteVisning {
    background: var(--a-gray-200);
    max-width: 500px;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.huskelappModalHeader {
    display: flex;
    align-items: center;
}

.huskelappModalHeader svg {
    margin-right: 10px;
}

.LagEllerEndreHuskelappModal.navds-modal {
    max-width: 350px;
}

.LagEllerEndreHuskelappModal .navds-body-short,
.LagEllerEndreHuskelappModal .navds-alert__wrapper,
.lagHuskelappMedEksisterendeArbeidslisteModal .navds-body-short,
.lagHuskelappMedEksisterendeArbeidslisteModal .navds-alert__wrapper {
    font-size: 14px;
    line-height: 1.25rem;
}

.lagHuskelappMedEksisterendeArbeidslisteModal.navds-modal {
    min-width: 800px;
}

.lagHuskelappMedEksisterendeArbeidslisteModal .huskelapp-modal-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 284px 1fr;
    gap: 15px;
}
