.huskelappPanel {
    display: flex;
}

.lagHuskelappInngang {
    margin: 10px 50px;
    max-width: 500px;
}

.eksisterendeArbeidslisteVisning {
    background: var(--a-gray-200);
    max-width: 500px;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.huskelappModalHeader {
    display: flex;
    align-items: center;
}

.huskelappModalHeader svg {
    margin-right: 10px;
}

.huskelapp-lag-eller-endre-modal {
}
