.veilarbportefoljeflatefs {
    .veileder-gruppe {
        &__rad {
            display: flex;
            justify-content: space-between;
        }

        &__knapperad {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0.5rem 0;
        }

        &__valgfelt {
            overflow-y: auto;
            max-height: 20rem;
            padding: 1rem 0.5rem 0;
        }

        &__gruppenavn {
            width: 85%;
        }

        .rediger-knapp {
            width: 15%;
        }
    }
}

.veiledergruppe-emptystate {
    text-align: center;

    &__tekst {
        font-style: italic;
        margin: 0.5rem 0 !important;
    }
}

