.veileder-gruppe {
    display: flex;
    flex-direction: column;
    &__rad {
        display: flex;
        justify-content: space-between;
        min-height: 3rem;
    }

    &__knapperad {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0.5rem 0;
    }

    &__gruppenavn {
        align-self: center;
    }
}

.veiledergruppe-emptystate {
    text-align: left;

    &__tekst {
        font-style: italic;
        margin: 0.5rem 0;
    }
}
