.veilarbportefoljeflatefs {
    .veileder-gruppe {

        &__rad {
            display: flex;
            justify-content: space-between;
        }

        &__knapperad {
            display: flex;
            justify-content: space-between;
            margin: 0.5rem;
        }
    }
}

.veiledergruppe-emptystate {
    text-align: center;

    &__tekst {
        font-style: italic;
        margin: 0.5rem 0 !important;
    }
}
