.veilarbportefoljeflatefs {
    .alder-input {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.5rem 0.5rem;
    }
    .filter-alder__tekst {
        display: flex;
        justify-content: center;
    }
    .alder-container_fra {
        margin: 0 0 0.5rem 0;
        .filter_alder-fra {
            margin: 0 0.5rem;
            max-width: 5rem;
        }
    }
    .alder-container_til {
        margin: 0 0.5rem 0 0;
        .filter_alder-til {
            margin: 0 0.5rem;
            max-width: 5rem;
        }
    }

    .alder-container_fra,
    .alder-container_til {
        display: flex;
        .filter_alder-fra,
        .filter_alder-til {
            margin: 0 0.5rem;
            max-width: 5rem;
            input {
                max-height: 2rem;
            }
        }
    }
}
