@import '~nav-frontend-core/less/core';
@import '~nav-frontend-chevron-style/src/index';

@bakgrunnsGra: #f4f4f4;

.veilarbportefoljeflatefs {
    @brukerliste-padding: 5px;

    .brukerliste {
        margin: 0;
        padding: 0;

        &--rad:nth-child(odd) {
            background-color: @white;
        }

        &--rad {
            border-left: 1px solid @navGra60;
            border-right: 1px solid @navGra60;
            border-top: 1px solid @navGra40;

            &:last-child {
                border-bottom: none;
            }
        }

        &--rad {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            color: #3E3832;
            text-decoration:none;
        }
        &__checkbox {
            top: -10px;
        }
        .arbeidsliste--ikon {
            margin-top: 10px;
        }



        &__header {
            z-index: 500;
            background-color: @bakgrunnsGra;
        }

        &__overskriftheader {
            display: flex;
            font-weight: bold;
            font-size: 1rem;
            min-height: 2rem;
            padding: @brukerliste-padding 0;
        }

        &__sorteringheader {
            display: flex;
            min-height: 3rem;
            padding: 0 0 0.5rem;
        }

        &__gutter-left {
            display: flex;
            align-items: center;
            margin-left: 1rem;
        }

        &--min-width-minside {
            min-width: 4rem;
        }

        &__innhold {
            width: 70%;
            display: flex;
        }

        &__gutter-right {
            display: flex;
            flex-grow: 1;
            align-items: center;
            width: 4rem;
            margin-right: 8px;
        }

        &__etiketter {
            width: 100%;
        }

        .lenke--frittstaende {
            border: 0;
            padding: 0;
            text-decoration: none;
        }

        &__arbeidslisteknapp {
            cursor: pointer;
            padding: 0;
            margin-left: 1rem;
            background-color: transparent;
            min-width: 2rem;
            color: @navMorkGra;
            border: none;
        }

        &__arbeidslistepanel {
            padding: 8px;
        }

        &__arbeidslisteinnhold {
            padding-right: 3rem;

            &_frist {
                color: @navGra80;
                font-style: italic;
            }

            &_footer {
                color: @navGra60;
                text-align: right;
                font-style: italic;

                button {
                    font-style: italic;
                    border: none;
                }
            }
        }

        &__arbeidslisteknapp--chevron {
            &-apen {
                .chevron-mixin();
                .chevron-orientasjon-mixin(opp);
            }

            &-lukket {
                .chevron-mixin();
                .chevron-orientasjon-mixin(ned);
            }
        }
    }

    .valgt-sortering {
        font-weight: bold;
    }

    .enhet-tabell {
        background-color: @bakgrunnsGra;
        border-top-color: @white;
        border-bottom: none;
        border-radius: @border-radius-base @border-radius-base @border-radius-base @border-radius-base;
        margin-bottom: 0;
    }

    .brukerliste .checkboks + .skjemaelement__label:before {
        margin-top: 2px;
        width: 20px;
        height: 20px;
    }

    .checkboks + .skjemaelement__label:before,
    .radioknapp + .skjemaelement__label:before {
        width: 20px;
        height: 20px;
    }
}
