@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .portefolje__container {
        min-height: 100%;
        margin-bottom: 2rem;
        border-radius: @border-radius-base;
        width: 100%;

        &__tom-liste {
            border-bottom: none;
        }

        //&__sticky {
        //    position: sticky;
        //    top: 5rem;
        //}

        .innholdslaster {
            min-height: 1000px;
        }

        .blokk-xxs {
            margin-bottom: 0;
        }

        .blokk-xs {
            margin-bottom: 1rem;
        }

        .typo-undertekst-enhet {
            margin: 0;
            font-size: 0.9rem;
            line-height: 1.25rem;
            font-family: Source Sans Pro, Arial, sans-serif;
            font-weight: 400;
        }
    }

    .filtrering-navn-fnr {
        width: 100%;
        max-width: 40%;
        min-width: 16rem;
        margin: 0.5rem 5% 0.5rem 0;
    }
}
