.tabelletikett {
    text-align: center;
    padding: 0.125rem 0.5rem;
    &--nybruker {
        background-color: #8bd6ec;
    }
    &--egen-ansatt {
        background-color: #ffd399;
    }
    &--diskresjonskode {
        background-color: #ffd399;
    }
    &--sikkerhetstiltak {
        background-color: #ffd399;
    }
    &--doed {
        background-color: #36312c;
        color: #ffffff;
    }
}
