@navGra60: #78706A;
@navGra40: #B7B1A9;
@navLysBlaLighten40: #a3e0f4;

.minoversikt-side {
    margin: 0 3rem;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1000;

    .blokk-xxs {
        margin-bottom: 0;
    }

    &__skygge {
        box-shadow: 0px 5px 8px 0px @navGra40;
    }
}

.filtrering-label-container__annen-veileder {
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    background-color: @navLysBlaLighten40;
}

.tabelloverskrift__annen-veileder {
    background-color: @navLysBlaLighten40;
}
