.veilarbportefoljeflatefs .minoversikt-liste__wrapper {
    background-color: var(--a-bg-subtle);
    border-top: none;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;
}
.veilarbportefoljeflatefs .tilbaketilveileder {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #0067c5;
}
.veilarbportefoljeflatefs .tilbaketilveileder:active,
.veilarbportefoljeflatefs .tilbaketilveileder:visited,
.veilarbportefoljeflatefs .tilbaketilveileder:hover {
    color: #0067c5;
}
.veilarbportefoljeflatefs .tilbaketilveileder i {
    position: absolute;
    margin-top: 12px;
}
.veilarbportefoljeflatefs .tilbaketilveileder span {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    white-space: nowrap;
}
.veilarbportefoljeflatefs .lagre-filter-knapp {
    height: fit-content;
    width: fit-content;
    margin: auto 0 auto auto;
}
.veilarbportefoljeflatefs .tabell-etikett {
    padding: 0.125rem 0.25rem;
}
.veilarbportefoljeflatefs .brukerliste__checkbox {
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.veilarbportefoljeflatefs .brukerliste__minoversikt-ikonknapper {
    min-width: 6.25rem;
    display: flex;
}
.veilarbportefoljeflatefs .fargekategori-tabellrad-knapp {
    margin-right: 1rem;
}

.veilarbportefoljeflatefs .tomt-huskelapp-eller-fargekategori-felt {
    margin-left: 0.5rem;
    margin-right: 1.125rem;
    width: calc(19 / 16 * 1rem);
    height: calc(19 / 16 * 1rem);
    display: block;
}
