@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
    .filtrering-label-container__annen-veileder {
        display: flex;
        flex-wrap: wrap;
        z-index: 1000;
        background-color: @navLysBlaLighten20;
    }

    .tabelloverskrift__annen-veileder {
        background-color: @navLysBlaLighten20;
    }
}
