.annen-veileder {
    padding: 1rem;
    background-color: @navLysBlaLighten40;
    .annen-veileder-varsel {
        text-align: center;
    }

    .portefolje-side {
        padding: 2rem;
    }
}

.tilbaketilveileder {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    text-decoration: none;
    color: @navBla;
    &:active, &:visited, &:hover {
        color: @navBla;
    }
    i {
        position: absolute;
        margin-top: 12px;
    }
    span {
        display: inline-block;
        position: absolute;
        margin-left: 20px;
        white-space: nowrap;
    }
}

.portefolje-side {
    background-color: @navLysGra;
}

.minoversikt-listehode {
    border-bottom: 1px solid #b7b1a9;

    .minoversikt-overskrifter {
        border-bottom: 1px solid #b7b1a9;
        padding-bottom: 5px;
        padding-top: 5px;

        .listeoverskrift {
            font-weight: bold;
        }
    }
}
