.barinput-checkbox,
.barinput-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--ax-space-4);
}
.barlabel__antall {
    padding-right: 0.5rem;
}
.forste-barlabel-i-gruppe {
    padding-top: 1rem;
    border-top: 1px solid var(--ax-border-neutral-subtle);
    margin-top: 1rem;
}
