.barinput-checkbox,
.barinput-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--a-spacing-1);
}
.barinput-checkbox .navds-checkbox__label,
.barinput-checkbox .navds-checkbox__label-text {
    display: flex;
    gap: 0.5rem;
}
.barinput-checkbox .navds-checkbox__label svg {
    vertical-align: middle;
}
.barlabel__antall {
    padding-right: 0.5rem;
}
.forste-barlabel-i-gruppe {
    padding-top: 1rem;
    border-top: 1px solid var(--a-border-divider);
    margin-top: 1rem;
}
