@import '~nav-frontend-core/less/core';

.filtrering-oversikt {
    .barlabel {
        width: 100%;

        .navds-body-short {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 15.5rem;
        }
    }

    .minArbeidsliste__kategori-checkboxwrapper {
        .navds-body-short {
            width: 14rem;
        }
    }
}
