.leggiarbeidsliste__modal {
    margin: 1rem 1rem 1rem 1rem;

    #arbeidslistekommentar {
        width: 100%;
        border-top-right-radius: @border-radius-small;
    }

   .knapp--hoved {
       margin-right: 1rem;
   }

}
