.modal-vindu {
    .hode {
        padding-top: 2rem;
    }
    background-color: @white;
    min-height: 25em;

    .knapp {
        position: relative;
        top: 2rem;
    }
}

.modal-vindu {
    border-radius: 4px;
}

.hode-feil:after {
    display: none;
}
