.modal-vindu {
    .panel {
        padding-top: 2rem;
    }
    background-color: #fff;
    min-height: 25em;
    margin-top: -7rem;

    .knapp {
        position: relative;
        top: 8rem;
    }
}

.modal-vindu {
    border-radius: 15px;
    .modaltekst {
        font-size:14px;
    }

}
.hode-feil:after {
    display: none;
}
