.veilarbportefoljeflatefs-modal {
    .radio-filterform__valg {
        margin-bottom: 0;
    }

    .tildel-veileder-modal {
        .modal-footer {
            display: flex;
            padding: 1.5rem 0;

            &__hovedknapp {
                margin-right: 1rem;
            }
        }
    }
}
