.dark-mode-toggle {
    display: flex;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.toggle-control {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
}
input[type='checkbox'].dmcheck {
    width: calc(40 / 16 * 1rem); /* 40px */
    height: calc(10 / 16 * 1rem);
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
}
input[type='checkbox'].dmcheck:checked + label {
    left: 30px;
}
input[type='checkbox'].dmcheck:focus-visible {
    outline: solid 2px white;
}
input[type='checkbox'].dmcheck + label {
    display: inline-block;
    width: calc(18 / 16 * 1rem);
    height: calc(18 / 16 * 1rem);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    opacity: 0.9;
    background-color: #f6f6f6;
}
body.dark-mode .dark-mode-toggle > button {
    color: #999;
}
body.dark-mode .dark-mode-toggle > button:last-child {
    color: lightblue;
}
