.veilarbportefoljeflatefs {
    .motekalender_knapp {
        height: fit-content;
        margin-top: 0.3125rem !important;
    }

    .moteplan_content div:first-child h3 {
        margin-top: 0;
    }

    .moteplan_tittel {
        margin-bottom: 0;
        margin-left: 0.75rem;
    }

    .moteplan_tabell_tittelrad {
        margin-bottom: 0;
        padding-bottom: 0 !important;
        font-size: 0.875rem;
        font-weight: normal;
        font-variant: all-small-caps;
    }

    .moteplan_tabell_klokkeslett {
        width: 3rem;
    }

    .moteplan_tabell_deltaker {
        width: 10rem;
        max-width: 10rem;

        a {
            display: block;
            width: 9rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .moteplan_tabell_status {
        width: 7.125rem;
    }
}
