.slette-veiledergruppe-modal {
    text-align: center;

    &__tekstgruppe {
        margin-bottom: 2rem !important;
    }

    &__knappegruppe {
        display: flex;
        justify-content: space-evenly;
    }
}
