.advarsel-modal .modal__overlay .ReactModal__Content {
    width: 448px !important;
}

.slette-veiledergruppe-modal {
    text-align: center;
    padding: 2rem 3rem;

    &__tekstgruppe {
        margin-bottom: 2rem !important;
    }

    &__knappegruppe {
        display: flex;
        justify-content: space-evenly;
    }
}
