.endringer-ikke-lagret-modal {
    text-align: center;
    padding: 2rem;
    height: 15rem;

    &__innholdstittel {
        margin: 1rem 0 3rem 0 !important;
    }

    &__knappegruppe {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0 5rem;

        &__avbryt, &__redigering {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
