.veilarbportefoljeflatefs {
    /* Styrer paddinga for innhaldet på sida
     * og gjer det mogleg å strekke bakgrunnsfargen til ting heilt ut til kanten av sida.
     * Howto: margin-left: -x, padding-left: x; og forelders padding-left: x */
    --side-padding-x-akse: 3rem;
    --sidebar-bredde: 22rem;
    --gap-mellom-sidebar-og-sokefeltkolonner: 0.8rem;
}

.veilarbportefoljeflatefs .ord-brekk {
    hyphens: auto;
    word-break: break-word;
}

.veilarbportefoljeflatefs .ord-brekk-alle {
    hyphens: auto;
    word-break: break-all;
}

.veilarbportefoljeflatefs .juster-tekst-venstre {
    text-align: left;
}

.tabell {
    background-color: transparent;
    border-radius: 4px;
    border-collapse: separate;
    border-bottom: 1px solid #6a6a6a;
    border-top: none;
    margin-right: 0;
    border-spacing: 0;
    width: 100%;
}

.tabell caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #7f756c;
    text-align: left;
}

.tabell td:first-child,
.tabell th:first-child {
    border-left: 1px solid #6a6a6a;
}

.tabell td:last-child,
.tabell th:last-child {
    border-right: 1px solid #6a6a6a;
}

.tabell th:last-child {
    border-right: none;
}

.tabell th:first-child {
    border-left: none;
}

.tabell thead th {
    background-color: var(--a-bg-subtle);
    border-bottom: 1px solid #6a6a6a;
    position: sticky;
    top: 2.5rem;
    -webkit-backface-visibility: hidden;
}

.tabell .tabellheader__lenke {
    display: flex;
    width: max-content;
    font-size: 0.875rem;
}
.tabell .tabellheader__tekst {
    font-size: 0.875rem;
}
.tabell .tabellheader__tekst span {
    font-weight: normal;
}

.tabell .tabellheader__pil {
    width: 1rem;
    height: 1rem;
    grid-column: 2;
    float: left;
    margin-top: 2px;
}

.tabell th {
    text-align: left;
}

.tabell th,
.tabell td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #a0a0a0;
}

.tabell thead tr:first-child th,
.tabell thead tr:first-child td {
    border-top: none;
    font-weight: 100;
}

.tabell tbody tr:first-child th,
.tabell tbody tr:first-child td {
    border-top-width: 2px;
}

.tabell tbody tr:last-child th,
.tabell tbody tr:last-child td {
    border-bottom: none;
}

.tabell tbody tr:nth-child(odd) {
    background-color: #fff;
}

.tabell tbody th,
.tabell tbody td {
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    font-weight: normal;
}

.tabell tbody th:first-child,
.tabell tbody td:first-child {
    width: 30%;
    white-space: pre-wrap;
}

.tabell tbody th:nth-child(2),
.tabell tbody td:nth-child(2) {
    width: 20%;
    white-space: pre-wrap;
}

.tabell tbody th:nth-child(3),
.tabell tbody td:nth-child(3) {
    width: 7rem;
    white-space: pre-wrap;
}

.tabell-kompakt th,
.tabell-kompakt td {
    padding: 5px;
}

table .tabell-element-center {
    text-align: center;
}

table col[class*='col-'] {
    position: static;
    float: none;
    display: table-column;
}

body {
    height: 100%;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    /* Det som set grå bakgrunn på heile sida */
    background-color: var(--a-bg-subtle);

    filter: none;

    /* Remove the margin in all browsers. (From normalize.css) */
    margin: 0;
}

@media print {
    body a[href]:after {
        content: none !important;
    }
}

html.darkmode {
    filter: invert(90%);
}

body.annen-veileder {
    background-color: #85d5f0;
}

html {
    height: 100%;

    font-size: 100%;
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* Correct the line height in all browsers. (From normalize.css) */
    line-height: 1.15;
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
-------------
CLEARFIX
-------------
*/
/* stylelint-disable */
/* stylelint-enable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Sections
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: ' (' attr(href) ')';
    }

    abbr[title]::after {
        content: ' (' attr(title) ')';
    }

    a[href^='#']::after,
    a[href^='javascript:']::after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;

    /* Remove the border on images inside links in IE 10. (From normalize.css)*/
    border-style: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-circle {
    border-radius: 50%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[role='button'] {
    cursor: pointer;
}

body .clearfix::before,
body .clearfix::after {
    content: ' ';
    display: table;
}

body .clearfix::after {
    clear: both;
}

body .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body .pull-right {
    float: right !important;
}

body .pull-left {
    float: left !important;
}

body .hide {
    display: none !important;
}

body .show {
    display: block !important;
}

body .hidden {
    display: none !important;
}

body .invisible {
    visibility: hidden;
}

body .text-hide {
    font: 0px/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    position: absolute;
}

body .ustilet {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

/*
--------------
GRID
--------------
*/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container::before,
.container::after {
    content: ' ';
    display: table;
}

.container::after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 736px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 956px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1156px;
    }
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: ' ';
    display: table;
}

.row::after {
    clear: both;
}

.col-break-word {
    word-break: break-word; /* Knekk ord i to om dei elles ville gjeve overflow.*/
}

.col-xs-2,
.col-xs-2-5,
.col-xs-3 {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;

    float: left;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2-5 {
    width: 20%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col,
.row,
.container,
.container-fluid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ReactCollapse--collapse {
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ekspanderbartPanel {
    position: relative;
    background: white;
    border-radius: 0.25rem;
}

.ekspanderbartPanel:hover,
.ekspanderbartPanel--hover {
    box-shadow: #a0a0a0 0 2px 1px 0;
}

.ekspanderbartPanel:focus,
.ekspanderbartPanel--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}

.ekspanderbartPanel__hode {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
    background: transparent;
    border: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.ekspanderbartPanel__hode .ekspanderbartPanel__tittel {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
    color: #262626;
}

.ekspanderbartPanel__hode:hover,
.ekspanderbartPanel__hode--hover {
    cursor: pointer;
}

.ekspanderbartPanel__hode:hover .ekspanderbartPanel__tittel,
.ekspanderbartPanel__hode--hover .ekspanderbartPanel__tittel {
    text-decoration: underline;
    color: #0067c5;
}

.ekspanderbartPanel__hode:focus,
.ekspanderbartPanel__hode--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}

.ekspanderbartPanel__flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ekspanderbartPanel__innhold {
    padding: 1rem;
    padding-top: 0.5rem;
}

.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}

.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
    transition: 200ms transform;
    border-radius: 10px;
}

.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;

    transform: translateX(2px) rotate(45deg);
}

.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;

    transform: translateX(-2px) rotate(-45deg);
}

.ekspanderbartPanel--border {
    border: 1px solid #6a6a6a;
}

.ekspanderbartPanel--border:hover,
.ekspanderbartPanel--border.panel-interaktiv-mixin--hover {
    border: 1px solid #0067c5;
}

.ekspanderbartPanel--border.ekspanderbartPanel--apen {
    border: 1px solid #6a6a6a;
}

.ekspanderbartPanel--apen > .ekspanderbartPanel__hode {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ekspanderbartPanel--apen .ekspanderbartPanel__innhold {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}

.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
    transition: 200ms transform;
    border-radius: 10px;
}

.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;

    transform: translateX(2px) rotate(-45deg);
}

.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;

    transform: translateX(-2px) rotate(45deg);
}

.begrensetbredde {
    max-width: 35rem;
}

.text-hide {
    position: absolute;
}

.veilarbportefoljeflatefs .dekorator {
    .dr-flex.dr-min-w-min.dr-items-center.dr-float-left {
        font-weight: var(--a-font-weight-bold);
    }
}

.flex {
    display: flex;
}

.flex--center {
    align-items: center;
}

.text--left {
    text-align: left !important;
}

.toolbar-container {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: calc(var(--sidebar-bredde) + var(--gap-mellom-sidebar-og-sokefeltkolonner)) auto;
    grid-template-rows: auto auto auto auto;
    z-index: 3;
    background-color: var(--a-bg-subtle);
}

.toolbar-container .tabellinfo {
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 40% 60%;
    margin-top: 0.75rem;
}

.toolbar-container .tabellinfo__hidden {
    grid-column-start: 2;
}

.toolbar-container .tabellinfo .tabelloverskrift {
    background-color: var(--a-bg-subtle);
    grid-column: 1;
}

.toolbar-container .toolbar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    margin-top: 0.5rem;
}

.toolbar-container .brukerliste__header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    z-index: 1;
    background-color: var(--a-bg-subtle);
    box-shadow: inset 0 -1px var(--a-gray-700);
}

.toolbar-container::before {
    position: sticky;
    display: block;
    grid-column: 1/3;
    grid-row: 4;
    top: 11rem;
    height: 1rem;
    content: '';
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.5);
}

.skjemaelement {
    margin-bottom: 0.5rem;
}

.veilarbportefoljeflatefs .ekspanderbartPanel__innhold {
    padding: 0.5rem 1rem 1rem;
}

.veilarbportefoljeflatefs .ekspanderbartPanel--apen .ReactCollapse--collapse {
    overflow: initial !important;
}

.veilarbportefoljeflatefs .side-storrelse {
    margin: 0 auto;
    padding: 0 var(--side-padding-x-akse);
    max-width: 1809px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.veilarbportefoljeflatefs .side-storrelse > .informasjonsmeldinger:not(:last-child) {
    margin-bottom: var(--a-spacing-1);
}

.veilarbportefoljeflatefs .oversikt-sideinnhold {
    display: grid;
    column-gap: var(--gap-mellom-sidebar-og-sokefeltkolonner);
    grid-template-columns: var(--sidebar-bredde) auto;
    grid-template-rows: auto auto auto;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .annen-veileder-varsel {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    margin: 0;
    font-weight: bolder;
    padding-right: 1rem;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .alertstripe__annen-veileder-varsel {
    align-self: center;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 80%;
    justify-self: flex-end;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .sokefelt-knapp__container {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .sidebar {
    grid-row-start: 1;
    grid-column: 1;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .filtrering-label-container,
.veilarbportefoljeflatefs .oversikt-sideinnhold .filtrering-label-container__annen-veileder {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .filtrering-label-container__feature,
.veilarbportefoljeflatefs .oversikt-sideinnhold .filtrering-label-container__annen-veileder__feature {
    background-color: #85d5f0;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .oversikt__container {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 0 2rem;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold .alertstripe__filtrering {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold__hidden .oversikt__container {
    grid-column-start: 1;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold__hidden .filtrering-label-container {
    grid-column-start: 1;
}

.veilarbportefoljeflatefs .oversikt-sideinnhold__hidden .alertstripe__filtrering {
    grid-column-start: 1;
    grid-column-end: 3;
}

.veilarbportefoljeflatefs .registrering-alert {
    margin: 4px 8px 4px 12px;
}

.veilarbportefoljeflatefs .navds-alert__wrapper {
    font-size: 0.875rem !important;
}

.veilarbportefoljeflatefs .navds-body-short {
    font-size: 0.875rem !important;
}

.veilarbportefoljeflatefs .skjemaelement__label {
    font-size: 0.875rem !important;
}

.veilarbportefoljeflatefs .navds-label {
    font-size: 0.875rem !important;
}

/* Gjer at tekst i dekoratøren i oversikten får same storleik som på andre sider*/
.veilarbportefoljeflatefs .dekorator .navds-body-short {
    font-size: initial !important; /* Bruker !important for å overskrive !important frå selector ".veilarbportefoljeflatefs .navds-body-short" */
}

/* Gjer at tekst i dekoratøren i oversikten får same storleik som på andre sider*/
.veilarbportefoljeflatefs .dekorator .navds-label {
    font-size: initial !important; /* Bruker !important for å overskrive !important frå selector ".veilarbportefoljeflatefs .navds-label" */
}

@media (max-width: 1200px) {
    .veilarbportefoljeflatefs .oversikt-sideinnhold .oversikt__container {
        grid-column-start: 1;
    }

    .veilarbportefoljeflatefs .oversikt-sideinnhold .sidebar {
        z-index: 1200;
    }
}

.veilarbportefoljeflatefs .navds-button--secondary,
.veilarbportefoljeflatefs .navds-button--secondary-neutral {
    /* Gjer at secondary-knappar vert kvite uavhengig av bakgrunnsfargen.
     * (I designsystemet er dei gjennomsiktige.) */
    background-color: var(--a-bg-default);
}

.veilarbportefoljeflatefs .dekorator .navds-button--secondary,
.veilarbportefoljeflatefs .dekorator .navds-button--secondary-neutral {
    /* Unngår at søk-knappen i dekoratøren (og andre knappar i dekoratøren) får kvit bakgrunn.
     * (I designsystemet er dei gjennomsiktige.) */
    background-color: initial;
}

.veilarbportefoljeflatefs .lenke--frittstaende {
    border: 0;
    padding: 0;
    text-decoration: none;
}

.veilarbportefoljeflatefs .lenke--frittstaende:hover {
    box-shadow: none;
}
