@import 'tabell';
@import '~nav-frontend-core/less/_variabler';

@bakgrunnsGra: #f4f4f4;

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: @navMorkGra;
    font-family: @font-family;
    background-color: @bakgrunnsGra;
    filter: none;

    @media print {
        a[href]:after {
            content: none !important;
        }
    }

    #mainapp {
        background-color: @white;
        margin: 0 auto;
        height: 100%;
        max-height: 8rem;
        box-shadow: 0 2px 4px 0 rgba(183, 177, 169, 0.5);
    }

    @media (max-width: 870px) {
        #mainapp {
            max-height: 10rem;
        }
    }

    @media (max-width: 782px) {
        #mainapp {
            max-height: 11rem;
        }
    }
}

html.darkmode {
    background-color: rgb(26, 26, 26) !important;
    filter: invert(90%);
}

body.annen-veileder {
    background-color: rgb(133, 213, 240);
}

html {
    height: 100%;
}

@import '~nav-frontend-typografi-style/src/index';
@import '~nav-frontend-core/less/core';
@import '~nav-frontend-grid-style/src/index';
@import '~nav-frontend-modal-style/src/index';
@import '~nav-frontend-paneler-style/src/index';
@import '~nav-frontend-ekspanderbartpanel-style/src/index';
@import '~nav-frontend-etiketter-style/src/index';
@import '~nav-frontend-spinner-style/src/spinner-style';
@import '~nav-frontend-skjema-style/src/index';
@import '~nav-frontend-knapper-style/src/index';
@import '~nav-frontend-paneler-style/src/mixins';
@import '~nav-frontend-lenker-style/src/lenker-style';
@import '~nav-frontend-hjelpetekst-style/src/hjelpetekst-style';
@import './forslag_nav_frontend';

.veilarbportefoljeflatefs {
    @import './components/barinput/barlabel';

    .ekspanderbartPanel__innhold {
        padding: 0.5rem 1rem 1rem;
    }

    .ekspanderbartPanel--apen .ReactCollapse--collapse {
        overflow: initial !important;
    }
}

.decorator-context-modal {
    padding: 1rem;
}

.modal__overlay {
    z-index: 2000;
}

.flex {
    display: flex;
}

.flex--center {
    align-items: center;
}

.flex--grow {
    flex-grow: 1;
}

.mr1 {
    margin-right: 1rem;
}

.text--left {
    text-align: left;
}

.sticky-container {
    z-index: 5;
    background-color: @bakgrunnsGra;

    .blokk-xxs {
        margin-bottom: 0;
    }
}

.ikke-sticky {
    &__skygge {
        height: 16px;
        top: -16px;
    }

    &__toolbar-container {
        position: sticky;
        top: 0;
        border-bottom: 1px solid @navGra60;
        z-index: 3;
    }

    &__container {
        position: inherit;
        top: 0;
        z-index: 1;
        background-color: @bakgrunnsGra;
    }
}

.sticky-skygge {
    position: sticky;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    height: 16px;
    top: -16px;
}

.toolbar-container {
    position: sticky;
    top: 0;
    z-index: 3;
    margin-top: -20px;
    background-color: @bakgrunnsGra;
    border-bottom: 1px solid @navGra60;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 21.8rem auto;
    grid-template-rows: auto auto auto;

    .tabellinfo {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 40% 60%;

        &__hidden {
            grid-column-start: 2;
        }

        .tabelloverskrift {
            background-color: @bakgrunnsGra;
            grid-column: 1;
        }
    }

    .toolbar {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        margin-top: 0.5rem;
    }

    .brukerliste__header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }
}

.sticky-skygge::before,
.sticky-skygge::after {
    content: '';
    display: block;
    height: 16px;
    position: sticky;
}

.sticky-skygge::before {
    top: 145px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.sticky-skygge::after {
    background: linear-gradient(white, rgba(255, 255, 255, 0.3));
    top: 0;
    z-index: 2;
    height: 0;
    width: auto;
}

.skjemaelement {
    margin-bottom: 0.5rem;
}

.veilarbportefoljeflatefs {
    .side-storrelse {
        margin: 0 auto;
        padding: 0 3rem;
        max-width: 1809px;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .oversikt-sideinnhold {
        display: grid;
        column-gap: 1%;
        grid-template-columns: 21rem auto;
        grid-template-rows: auto auto auto;

        .annen-veileder-varsel {
            grid-column: 2;
            grid-row: 1;
            text-align: right;
            margin: 0;
            font-weight: bolder;
            padding-right: 1rem;
        }

        .alertstripe__annen-veileder-varsel {
            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            width: 80%;
            justify-self: flex-end;
        }

        .sokefelt-knapp__container {
            grid-row: 1;
            grid-column: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .sidebar {
            grid-row-start: 1;
            grid-column: 1;
        }

        .filtrering-label-container,
        .filtrering-label-container__annen-veileder {
            grid-row: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            flex-wrap: wrap;

            &__feature {
                background-color: rgb(133, 213, 240);
            }
        }

        .oversikt__container {
            grid-row: 3;
            grid-column-start: 2;
            grid-column-end: 3;
            margin: 0.5rem 0 2rem;
        }

        .alertstripe__filtrering {
            grid-row: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        &__hidden {
            .oversikt__container {
                grid-column-start: 1;
            }

            .filtrering-label-container {
                grid-column-start: 1;
            }

            .alertstripe__filtrering {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    @media (max-width: 1200px) {
        .oversikt-sideinnhold {
            .oversikt__container {
                grid-column-start: 1;
            }

            .sidebar {
                z-index: 1200;
            }
        }
    }
}
