.veilarbportefoljeflatefs .portefolje__container {
    margin-bottom: 2rem;
}
.veilarbportefoljeflatefs .filtrering-navn-fnr {
    width: 100%;
    max-width: 50%;
    min-width: 16rem;
    margin: 0.5rem 5% 0.5rem 0;
}
