@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
    .info-om-brukere__wrapper {
        margin-bottom: 0;

        .registreringsfilter {
            &__infocontainer {
                display: grid;
                grid-template-columns: 35px auto;
                margin: .5rem;
                padding: .2rem;
                border: 1px solid @navLysBla;
                border-radius: 4px;
                background-color: @navLysBlaLighten80;
            }

            &__infoikon {
                margin: .2rem;
            }

            &__infotekst {
                margin: auto;
            }
        }
    }
}
