@lg-screen: 1200px;

.skjemaelement--innrykk {
    margin-left: 1.25rem;
}

.dropdown--fixed .dropdown__innhold {
    border-top-right-radius: @border-radius-small;
}

.dropdown--160bredde .dropdown__innhold {
    width: 160%;
    border-top-right-radius: @border-radius-small;
}

.dropdown--140bredde .dropdown__innhold {
    width: 140%;
    border-top-right-radius: @border-radius-small;
}

.dropdown--120bredde .dropdown__innhold {
    width: 120%;
    border-top-right-radius: @border-radius-small;
}

@media (min-width: @lg-screen) {
    .dropdown--140bredde-responsive .dropdown__innhold {
        width: 140%;
        border-top-right-radius: @border-radius-small;
    }
}
.filtrering--overskrift-med-hjelpetekst {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
        height: 16px;
        width: 16px;
    }

    .hjelpetekst {
        height: 18px;
        padding-left: 0.5rem;
    }
}

.filtrering-navn-sok {
    display: flex;
}

.sok-knapp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2.44rem;
}
