@import "~nav-frontend-core/less/core";

.veilarbportefoljeflatefs {
  .registreringsfilter {
    &__infocontainer {
      display: grid;
      grid-template-columns: 35px auto;
      margin: .5rem;
      padding: .2rem;
      border: 1px solid @navLysBla;
      border-radius: 4px;
      background-color: @navLysBlaLighten80;
    }

    &__infoikon {
      margin: .2rem;
    }

    &__infotekst {
      margin: auto;
    }
  }

  .skjemaelement--innrykk {
    margin-left: 1.25rem;
  }

  .dropdown--fixed .dropdown__innhold {
    border-top-right-radius: @border-radius-small;
  }

  .filtrering--overskrift-med-hjelpetekst {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 16px;
      width: 16px;
    }

    .hjelpetekst {
      height: 18px;
      padding-left: 0.5rem;
    }
  }

  .filtrering-navn-sok {
    display: flex;
  }

  .sok-knapp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2.44rem;
  }

  .checkbox-filterform .registreringstype {
    max-height: 24rem;
  }

  .checkbox-filterform .ny__registreringstype, .tiltakstyper {
    max-height: none;
  }

  .registreringstype .skjemaelement {
    margin-bottom: .5rem;
  }
}
