@import '~nav-frontend-core/less/core';

.veilarbportefoljeflatefs {
    .filtrering-label-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #f4f4f4;
    }

    .veilederoversikt_sok-veileder {
        font-size: 20px;
    }

    .filtreringlabel {
        border: none;
        border-radius: @border-radius-small;
        display: flex;
        background: @navGra20 none;
        padding: 0.5rem;
        justify-content: space-between;
        font-weight: normal;
        margin: 0.5rem 1rem 0.5rem 0;
        color: #000000;

        &:hover {
            box-shadow: inset 0 -0.125em 0 @navMorkGra;
            background: @navGra20 none;
        }

        &:active {
            background-color: @navDypBla;
            color: @white;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px @fokusFarge;
        }

        &--markert {
            background-color: @navOransjeLighten60;
        }

        &__label {
            padding-right: 0.5rem;
            max-width: 10rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                max-width: fit-content;
            }
        }

        &__container {
            display: flex;

            .arbeidsliste--ikon {
                right: 0;
                height: 0;
            }

            .filter-ikon-x-svg {
                margin-left: 0.5rem;
            }
        }
    }

    .slett-alle-filtervalg-knapp {
        background-color: @navGra60;
        color: white;
        padding-right: 0;

        &:hover {
            background: @navGra80 none;
        }
    }

    .filtrering-label-slett {
        margin: 20px 8px 32px 3px;
        cursor: pointer;
        background-color: rgb(183, 177, 169);
        border: none;
        padding: 5px;
    }

    .filter-ikon-x-svg {
        width: 0.875rem;
        height: 0.875rem;
        align-self: center;
    }

    .filtreringlabel:active svg path {
        fill: #ffffff;
    }
}
