.veilarbportefoljeflatefs .filtrering-label-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
}
.veilarbportefoljeflatefs .veilederoversikt_sok-veileder {
    font-size: 20px;
}
.veilarbportefoljeflatefs .filtreringlabel {
    border: none;
    border-radius: 2px;
    display: flex;
    background: #c9c9c9 none;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    justify-content: space-between;
    font-weight: normal;
    margin: 0.25rem 1rem 0.25rem 0;
    color: #000000;
}
.veilarbportefoljeflatefs .filtreringlabel:hover {
    box-shadow: inset 0 -0.125em 0 #262626;
    background: #c9c9c9 none;
}
.veilarbportefoljeflatefs .filtreringlabel:active {
    background-color: #005b82;
    color: #fff;
}
.veilarbportefoljeflatefs .filtreringlabel:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}
.veilarbportefoljeflatefs .filtreringlabel--markert {
    background-color: #ffd799;
}
.veilarbportefoljeflatefs .filtreringlabel__label {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.veilarbportefoljeflatefs .filtreringlabel__label:hover {
    max-width: fit-content;
}
.veilarbportefoljeflatefs .filtreringlabel__container {
    display: flex;
    align-items: center;
}
.veilarbportefoljeflatefs .filtreringlabel__container .arbeidsliste--ikon {
    margin-right: 0.25rem;
    display: flex;
}
.veilarbportefoljeflatefs .filtreringlabel__container .filter-ikon-x-svg {
    margin-left: 0.5rem;
}
.veilarbportefoljeflatefs .slett-alle-filtervalg-knapp {
    background-color: #6a6a6a;
    color: white;
    padding-right: 0.5rem;
}
.veilarbportefoljeflatefs .slett-alle-filtervalg-knapp:hover {
    background: #4f4f4f none;
}
.veilarbportefoljeflatefs .filtrering-label-slett {
    margin: 20px 8px 32px 3px;
    cursor: pointer;
    background-color: #b7b1a9;
    border: none;
    padding: 5px;
}
.veilarbportefoljeflatefs .filter-ikon-x-svg {
    width: 0.875rem;
    height: 0.875rem;
    align-self: center;
}
.veilarbportefoljeflatefs .filtreringlabel:active svg path {
    fill: #ffffff;
}
