name: Deploy til Q1
on:
    workflow_dispatch:
env:
    IMAGE_TAG: ${{ github.sha }}
    IMAGE: ghcr.io/${{ github.repository }}/veilarbportefoljeflatefs
    PRINT_PAYLOAD: true

jobs:
    build-project-and-docker-image:
        runs-on: ubuntu-latest
        name: Build project and publish Docker image
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '16'
                  cache: 'npm'
            - run: npm ci
            - name: Build production artifact
              run: npm run build
            - name: Run tests
              run: npm run test
            - name: Login to Docker
              uses: docker/login-action@v1
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push Docker image
              uses: docker/build-push-action@v2
              with:
                context: .
                push: true
                tags: ${IMAGE}:${IMAGE_TAG}
    deploy-dev:
        name: Deploy q1 fss
        needs:
            - build-project-and-docker-image
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-fss
                  RESOURCE: nais-dev.yaml
                  VAR: version=${{ env.IMAGE_TAG }},namespace=pto
