name: Install, build, run Cypress on PR

on: pull_request

jobs:
  cypress-run:
    name: Install, build, run Cypress tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: "https://npm.pkg.github.com"
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build application
        run: npm run build:mock
      - name: Run tests
        run: npm run test
      - name: Cypress run
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # ratchet:cypress-io/github-action@v6
        with:
          install: false
          browser: chrome
          start: npm start
          wait-on: http://localhost:5173
          wait-on-timeout: 90
          record: false
      - name: Upload screenshots
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
