name: Cypress testing

on: pull_request
jobs:
    cypress-run:
        name: Cypress run
        runs-on: ubuntu-latest
        timeout-minutes: 15
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Cypress run
              uses: cypress-io/github-action@v2
              with:
                  browser: chrome
                  headless: true
                  start: npm start cypress:run
                  wait-on: http://localhost:3000
                  record: false
