name: Deploy github pages
on:
    workflow_dispatch:
    push:
        branches:
            - master
permissions:
    contents: write
    pages: write
jobs:
    update-gh-pages:
        name: Update GitHub pages
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Build mock application
              run: npm run build:mock
            - name: Legg til 404 fil
              run: cp ./.github/pages/404.html ./build/404.html
            - name: Update GitHub pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./build
