@import "~nav-frontend-core/less/core";

.arbeidslisteikon_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;

    svg {
        height: 30px;
        width: auto;
    }

    .arbeidslisteikon {
        &__knapp {
            margin: 0 auto;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0 0.5rem;

            &__bla, &__rod, &__gronn, &__gul {
            }

            //&__gul {
            //    background-image: url(/src/minoversikt/flagg-filled_gul.svg)
            //}

            &:active {
                border: 1px solid @navGra80;
            }

            &:hover {
                border: 1px solid @navGra60;

            }
        }
    }
}

