@import "~nav-frontend-core/less/core";

.arbeidslisteikon {
    display: grid;
    grid-template-columns: auto auto auto auto;

    &__container {
        margin: auto;
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    svg {
        height: 40px;
        width: auto;
        border: 1px solid transparent;
    }

    input + svg {
        cursor: pointer;
        padding: 0.2rem;
    }

    input:checked + svg {
        border: 1px solid @navGra80;
    }

    input:hover + svg {
        border: 1px solid @navGra60;
    }
}


