@import "~nav-frontend-core/less/core";

.arbeidslisteikon {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;

    .skjemaelement__label {
        grid-row: 1;
    }

    &__container {
        margin: auto auto auto 0;
        grid-row: 2;
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    svg {
        height: 40px;
        width: auto;
        border: 1px solid transparent;
    }

    input + svg {
        cursor: pointer;
        padding: 0.2rem;
    }

    input:checked + svg {
        border: 1px solid @navGra80;
    }

    input:hover + svg {
        border: 1px solid @navGra60;
    }
}


