.aktivitetfilterform {
    padding: 1rem;
    padding-left: 1.2rem;
    label {
        display: inline-block;
    }
    .aktivitetvalg__header--first {
        padding-right: 0.4rem;
    }
    .aktivitetvalg {
        display: block;
        align-items: center;
    }

    .aktivitet_radioknapp_label {
        margin-bottom: 1rem;
    }

    .radioknapp + label {
        padding-left: 1.5rem;
    }

    .radioknapp:checked + label:before {
        top: 1px;
    }

    .aktivitetfilter_knapper {
        display: flex;
        justify-content: space-around;
    }

    .aktivitetvalg__tekst  {
        margin-left: 0.5rem;
    }

}
