.aktivitetfilterform {
    padding: 1rem;
    label {
        display: inline-block;
    }
    .aktivitetvalg__header--first {
        padding-right: 0.4rem;
    }
    .aktivitetvalg {
        display: flex;
        align-items: center;
    }

    .radioknapp + label {
        padding-left: 1.5rem;
    }

    .radioknapp:checked + label:before {
        top: 1px;
    }
}
