.huskelappvisning-modal .huskelappvisning-modal__body {
    padding-bottom: 0;
}

.huskelappvisning-modal .huskelapp-visning-modal__endret-av {
    margin-top: var(--a-spacing-2);
}

.huskelappvisning-modal .huskelappvisning-modal__footer {
    align-items: flex-end; /* Dyttar knappane til botnen når slettebekreftinga er synleg */
}
